@charset "UTF-8";
/* this @charset is for mozilla's bug */
/*
/////////////////////////////////////////////////
// PukiWiki Plus! skin for PukiWiki Advance
// Original version written by miko and upk.
// Adv version by Logue.
// 
// $Id: blue.css,v 1.0.0 2010/08/15 00:19:00 Logue Exp $
//
*/

::-moz-selection{
	background: RoyalBlue;
	color:#fff;
	text-shadow: none;
}
::selection {
	background:RoyalBlue;
	color:#fff;
	text-shadow: none;
}

body{
	color:#223333;
	background-color:white;
}

a:link{
	color:#215dc6;
	-webkit-tap-highlight-color: #5E99FF;
	background-color:inherit;
}

a:active{
	color:#215dc6;
	background-color:#CCDDEE;
}

a:visited{
	color:#a63d21;
	background-color:inherit;
}

a:hover{
	color:#215dc6;
	background-color:#CCDDEE;
}

h1{
	color:#0000cc;
	background-color:transparent;
}

h2{
	color:#000000;
	background-color:transparent;
	border-color:#ffffff #ffffff #999999 #1177ff;
}

h3{
	color:#000000;
	background-color:transparent;
	border-color:#ffffff #ffffff #999999 CornflowerBlue;
}

h4, h5, h6{
	color:#000000;
	background-color:transparent;
	border-color:#f8f8ff #f8f8ff #999999 #66ccff;
}

dt{
	color: #333366;
}

pre, .syntaxhighlighter{
	border-top:#DDDDEE 1px solid;
	border-bottom:#888899 1px solid;
	border-left:#DDDDEE 1px solid;
	border-right:#888899 1px solid;
	color:black;
	background-color:#F0F8FF;
}

blockquote{
	border: 1px solid #99CCFF;
}

hr{
	border-color: #333333;
}

hr.full_hr{
}

hr.short_line{
}

hr.note_hr{
	border-color:#2288FF;
}

thead td.style_td,
tfoot td.style_td{
	color:inherit;
	background-color:#D0D8E0;
}
thead th.style_th,
tfoot th.style_th{
	color:inherit;
	background-color:#E0E8F0;
}
.style_table{
	color:inherit;
	background-color:#ccd5dd;
}
.style_th{
	color:inherit;
	background-color:#EEEEEE;
}
.style_td{
	color:inherit;
	background-color:#EEF5FF;
}

span.noexists
{
	color:inherit;
	background-color:#FFFACC;
}

span.add_word
{
	background-color:#FFFF66;
}

span.remove_word
{	
	background-color:#A0FFFF;
}

.super_index
{
	color:#DD3333;
	background-color:inherit;
}

a.note_super
{
	color:#DD3333;
	background-color:inherit;
}

/* html.php/catbody() */
strong.word0{
	background-color:#FFFF66;
	color:black;
}
strong.word1{
	background-color:#A0FFFF;
	color:black;
}
strong.word2{
	background-color:#99FF99;
	color:black;
}
strong.word3{
	background-color:#FF9999;
	color:black;
}
strong.word4{
	background-color:#FF66FF;
	color:black;
}
strong.word5{
	background-color:#880000;
	color:white;
}
strong.word6{
	background-color:#00AA00;
	color:white;
}
strong.word7{
	background-color:#886800;
	color:white;
}
strong.word8{
	background-color:#004699;
	color:white;
}
strong.word9{
	background-color:#990099;
	color:white;
}

#preview{
	color:inherit;
	background-color:#F5F8FF;
}

/* Layout */
td.ltable{
	background-color: #EEFCFF;
}

td.rtable{
	background-color: #EEFCFF;
}

#topicpath{
	color:black;
}

/* popup toc */
#poptoc{
	border:gray thin outset; padding:0.5em;
	background:#fff8ee;
	margin-right:-10em;
}
#poptoc a:hover{
	background:#ccddee;
}

#poptoc a{
	color:blue;
}

#poptoc h2{
	color:navy;
	background:#ffeecc;
	border:silver solid 1px;
}
#poptoc h2 a{
	color:navy;
}

#poptoc a.here{
	color: #333333;
	background: #fff8f8;
	border:1px dotted gray;
}
/** MenuBar ***************************************************************************************/
#menubar ul.menu li{
	border-bottom: 1px dotted #EEFCFF;
}

#menubar h2, #menubar h3, #menubar h4{
	border: 1px #99CCFF solid;
	background-color: #DDF0FF;
}

#menubar h5{
	border: 1px #99CCFF solid;
	background-color: #DDF0FF;
}

/** SideBar ***************************************************************************************/
#sidebar h2, #sidebar h3, #sidebar h4{
	border: 1px #99CCFF solid;
	background-color: #DDF0FF;
}

/* Plugin *****************************************************************************************/
/* attach.inc.php */
table.attach_table{
	color:inherit;
	background-color: #CCCCCC;
}

th.attach_th{
	color:inherit;
	background-color: #CCEEFF;
}

td.attach_td1{
	background-color: #FFFFFF;
}

td.attach_td2{
	background-color: #CCFFCC;
}

/* calendar.inc.php */
.calendar {
	background-color:#E0E0E0;
}

.calendar_td_caltop {
	background-color:#EEF5FF;
}

.calendar_td_week {
	background-color:#E0E0E0;
}

.calendar_td_blank {
	background-color:#EEEEEE;
}
.calendar_td_today {
	color:#ddb;
	background-color:#DDFFFF;
}
.calendar_td_sun {
	color:#dbb;
	background-color:#fee;
}
.calendar_td_day {
	color:#bbb;
	background-color:#EEF5FF;
}
.calendar_td_sat {
	color:#bbd;
	background-color:#DDE5FF;
}
.calendar_td_today a,
.calendar_td_sun a,
.calendar_td_day a,
.calendar_td_sat a {
	color:#466;
}
.calendar_td_today a strong,
.calendar_td_sun a strong,
.calendar_td_day a strong,
.calendar_td_sat a strong {
	color:#233;
}

/* calendar2.inc.php */
.style_calendar{
	color:inherit;
	background-color:#CCD5DD;
}

.style_td_caltop{
	color:inherit;
	background-color:#EEF5FF;
}

.style_td_today{
	color:inherit;
	background-color:#DDFFFF;
}

.style_td_sat
{
	padding:5px 3px;
	margin:1px;
	color:inherit;
	background-color:#DDE5FF;
	text-align:center;
}

.style_td_sun
{
	padding:5px 3px;
	margin:1px;
	color:inherit;
	background-color:#FFEEEE;
	text-align:center;
}

.style_td_blank{
	color:inherit;
	background-color:#EEF5FF;
}

.style_td_day{
	color:inherit;
	background-color:#EEF5FF;
}

.style_td_week{
	color:inherit;
	background-color:#DDE5EE;
}

/* minicalendar.inc.php */
.ministyle_calendar{
	color:inherit;
	background-color:#E0E0E0;
}

.ministyle_td_caltop{
	color:inherit;
	background-color:#EEF5FF;
}

.ministyle_td_today{
	color:inherit;
	background-color:#DDFFFF;
}

.ministyle_td_sat{
	color:inherit;
	background-color:#DDE5FF;
}

.ministyle_td_sun{
	color:inherit;
	background-color:#FFEEEE;
}

.ministyle_td_blank{
	color:inherit;
	background-color:#EEEEEE;
}

.ministyle_td_day{
	color:inherit;
	background-color:#EEF5FF;
}

.ministyle_td_week{
	color:inherit;
	background-color:#E0E0E0; /*#DDE5EE;*/
}

/* minicalendar_viewer */
h3.minicalendar
{
	border-color:#ffffff #ffffff #999999 #3399ff;
	color:inherit;
}

h4.minicalendar
{
	border-color:#ffffff #ffffff #999999 #66CCff;
	color:inherit;
}

/* minicalendar+public_holiday view */
.date_weekday {
	border-bottom: 1px solid #666;
}

.date_weekend {
	color: #14F;
	border-bottom: 1px solid #666;
}

.date_holiday {
	color: #f41;
	border-bottom: 1px solid #666;
}

.date_weekday .day {
	background-color: #333;
	color: #fff;
}
.date_weekend .day {
	background-color: #14F;
	color: #fff;
}
.date_holiday .day {
	background-color: #F41;
	color: #fff;
}


/* diff.inc.php */
span.diff_added{
	color:blue;
	background-color:inherit;
}

span.diff_removed{
	color:red;
	background-color:inherit;
}

/* new.inc.php */
span.new1{
	color:red;
	background-color:transparent;
}
span.new5{
	color:green;
	background-color:transparent;
}

/* vote.inc.php */
.style_table_vote{
	color:inherit;
	background-color:#ccd5dd;
}
td.vote_label
{
	color:inherit;
	background-color:#CCCCFF;
}
td.vote_td1
{
	color:inherit;
	background-color:#DDE5FF;
}
td.vote_td2
{
	color:inherit;
	background-color:#EEF5FF;
}

/* suckerfish.inc.php */
#nav {
	background-color: CornflowerBlue;
	border: 1px RoyalBlue solid;
}

#nav a {
	color: white;
}
#nav a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: white;
}

#nav a:active  {
	color: black;
}

#nav li {
	background-color: CornflowerBlue;
	border: 1px CornflowerBlue solid;
}

#nav li:hover, #nav li.sfHover{
	color: white;
	background-color: lightsteelblue;
	border: 1px #ffffff solid;
}

#nav li ul li:hover, #nav li ul li.sfHover,
#nav a:focus, #nav a:hover, #nav a:active {
	color: black;
	background-color: lightsteelblue;
}

/* code.inc.php */
/* オペレータ */
span.code_operator		{color: blue;}
/* 識別子 */
span.code_identifier	{color: darkblue;}

/* 制御構文 */
span.code_control		{color: navy;}
/* 標準関数 */
span.code_function		{color: blue;}
/* 定数 */
span.code_constant		{color: teal;}

/* module, import, 将来対応する pragma */
span.code_pragma		{color: #008080;}
/* __stdcall などの処理系専用の奴とか */
span.code_system		{color: #5f0000;}
/* 環境変数  */
span.code_environment	{color: #777777;}
/* 文字列 */
span.code_string		{color: green;}
/* コメント */
span.code_comment		{color: darkorange;}

/* 個々のハイライト専用 */
/* for TeX */
span.code_formula		{color: teal;}
/* for diff*/
span.code_changed		{color: green;}
span.code_added			{color: blue;}
span.code_removed		{color: red;}
/* for make*/
span.code_execute		{color: teal;}
span.code_target		{color: darkblue;}
span.code_src			{color: darkgreen;}
/* for PukiWiki */
span.code_header		{color: blue;}
span.code_table			{color: darkgreen;}
span.code_list			{color: navy;}
span.code_pre			{color: teal;}
span.code_quote			{color: #777700;}

/* ソースコード表示部分の設定 */
/* 段組をしない場合の設定 */
pre.code {
	background:		#EEFFFF;
	border-top:		#DDDDEE 1px solid;
	border-right:	#888899 1px solid;
	border-bottom:	#888899 1px solid;
	border-left:	#DDDDEE 1px solid;
}
/* 段組をした場合の設定 */
table.code_table pre.code,
div.code_table pre.code
{
	background: #EEFFFF;
}

/* 行番号表示 */
pre.code_number {
	border-right: 1px solid #CCDDDD;
}

/* アウトライン表示 */
pre.code_outline {
	border-right: 1px solid #F5FFFF;
	background: #E0F5F5;
}

/* 枠組 */
div.code_table {
	background-color:	#F0F8FF;
	border-top:			#DDDDEE 1px solid;
	border-right:		#888899 1px solid;
	border-bottom:		#888899 1px solid;
	border-left:		#DDDDEE 1px solid;
}

/**
 * アウトライン・メニューの設定
 */

/* icon */ 
div.code_menu {
	background-color: #d4d0c8;
}

/* アウトラインの設定 */
a.code_outline{
	background-color: #FFFFFF;
	color: black;
	border: 1px solid #888888;
}
a.code_outline:link
{
	background-color: #FFFFFF;
	color: black;
	border: 1px solid #888888;
}
a.code_outline:visited
{
	background-color: #FFFFFF;
	color: black;
	border: 1px solid #888888;
}
a.code_outline:hover
{
	background-color: #FFFFFF;
	color: black;
	border: 1px solid #888888;
}
a.code_outline:active
{
	background-color: #FFFFFF;
	color: black;
	border: 1px solid #888888;
}