@charset "UTF-8";
/* this @charset is for mozilla's bug */
/*
/////////////////////////////////////////////////
// PukiWiki Plus! skin for PukiWiki Advance
// Original version written by miko and upk.
// Adv version by Logue.
// 
// $Id: default.css,v 1.33.7 2010/10/22 17:40:00 Logue Exp $
//
*/

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/** PukiWiki Plus! CSS set Start *******************************************************************/

body, h1, h2, h3, h4, h5, .ui-widget{
	font-family:"Trebuchet MS", Meiryo, Osaka, Sans-Serif;
}

a:link, a:active, a:visited{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

h1{
	font-size: 161.6%;
	border:0px;
	margin:.2em 0px .2em .5em;
}

h2{
	font-size:146%;
	padding:.3em .3em .15em .5em;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

h3{
	font-size:131%;
	
	padding:.3em .3em .15em .5em;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

h4, h5, h6{
	font-size:116%;
	padding:.3em .3em .15em .5em;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

h1.title{
	font-size: 232%;
	font-weight:bold;
	background-color:transparent;
	padding: 12px 0px 0px 0px;
	border: 0px;
	margin: 12px 0px 0px 0px;
}
#body h2{
	margin:.2em -10px .2em -21px;
}

#body h3{
	margin:.2em -10px .5em -14px;
}
#body h4, h5, h6{
	margin:.2em -10px .5em -7px;
}

dt{
	font-weight:bold;
	margin-top:1em;
}

dd{
	margin-left:1em;
}

blockquote, pre, ul ,ol ,p{
	margin:0.5em;
}

ul, ol, dl {
	padding-left:16px;
	margin-left:16px
}

pre, .pre{
	padding:.5em;
	line-break:strict;
	word-break:break-all;
	word-wrap:break-word;
}

img{
	border:none;
	vertical-align:middle;
}

/* pukiwiki extend anchor */
img.ext{
	margin-left: 2px;
	vertical-align: baseline;
}
img.inn{
	margin-left: 2px;
	vertical-align: baseline;
}

em{
	font-style:italic;
}

strong{
	font-weight:bold;
}

blockquote p{
	margin: 0.5em 1em;
}

address{
	display:inline;
}

fieldset {
	border: 1px silver groove;
	border-radius:0.5em;
	-moz-border-radius:0.5em;
	padding:0.5em;
}

legend {
	text-indent:0.5em;
}

.style_table{
	border-spacing:2px;
	padding:0px;
	border:0px;
	margin:auto;
	text-align:left;
	border-collapse:separate;
	border-spacing:1px;
}

.style_th{
	padding:5px;
	margin:1px;
	text-align:center;
}
.style_td{
	padding:5px;
	margin:1px;
}

ul.list1{
	list-style-type:disc;
}
ul.list2{
	list-style-type:circle;
}
ul.list3{
	list-style-type:square;
}
ol.list1{
	list-style-type:decimal;
}
ol.list2{
	list-style-type:lower-roman;
}
ol.list3{
	list-style-type:lower-alpha;
}

div.ie5{
	text-align:center;
}

small, .small{
	font-size:85%;
}

.small1{
	font-size:77%;
}

.super_index{
	font-weight:bold;
	font-size:77%;
	vertical-align:super;
}

a.note_super{
	font-weight:bold;
	font-size:77%;
	vertical-align:super;
	margin: 0px 1%;
}

div.jumpmenu{
	font-size:77%;
	text-align:right;
}

hr.full_hr{
	width:100%;
}

hr.short_line{
	width:80%;
}
hr.note_hr{
	margin:1em 0.5em 0em 0.5em;
}

span.size1{
	font-size:xx-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size2{
	font-size:x-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size3{
	font-size:small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size4{
	font-size:medium;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size5{
	font-size:large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size6{
	font-size:x-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size7{
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}

input[type='text'], input[type='password'], textarea, select, iframe {
	border:1px solid #AAA;
	margin:0px;
	font-family:monospace !important;
/*	font-size: 93%;	*/
}

ruby {
	display:inline-table !important;
	text-align:center !important;
	white-space:nowrap !important;
	text-indent:0 !important;
	margin:0 !important;
	vertical-align:text-bottom !important;
	line-height:1 !important;
}

ruby>rb,ruby>rbc {
	display:table-row-group !important;
	line-height:1.0 !important;
}
ruby>rt,ruby>rbc+rtc {
	display:table-header-group !important;
	font-size:50% !important;
	line-height:1.0 !important;
	letter-spacing:0 !important;
}

ruby>rbc+rtc+rtc {
	display:table-footer-group !important;
	font-size:50% !important;
	line-height:1.0 !important;
	letter-spacing:0 !important;
}

rbc>rb,rtc>rt {
	display:table-cell !important;
	letter-spacing:0 !important;
}

rp {
	display:none !important;
}

/** Misc ******************************************************************************************/
#lastmodified{
	display:block;
	text-align:right;
	font-size:93%;
	padding:0px;
	margin:0px 1%;
}

#header{
	padding:0px;
	margin:1% 1%;
	display:block;
}

#header .style_table{
	background-color: transparent;
}

#header .style_table .style_th{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#header .style_table .style_td{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#header .style_table .style_td h1.title{
	font-size: 232%;
	font-weight:bold;
	background-color:transparent;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

#body{
	display:block;
	padding:0px;
	margin:0px 0px 0px 0px;
}

#body a{
	line-break:strict;
	word-break:break-all;
	word-wrap:break-word;
}

#footer{
	dispaly:block;
	clear:both;
	display:block;
	font-size:77%;
	padding:0px;
	margin:0px 1% 0px 1%;
}

#footer .style_table{
	background-color: transparent;
}

#footer .style_table .style_th{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#footer .style_table .style_td{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#logo{
	float:left;
	margin-right:20px;
}

#navigator{
	display:block;
	clear:both;
	padding:4px 0px 0px 0px;
	margin:0px 1%;
	white-space: nowrap;
}

#banner_box a:hover{
	background-color:transparent;
}

/* PukiWiki Plus! Skin */
.menubar, .sidebar{
	width:160px;
	vertical-align:top;
}

.ltable{
	width:160px;
	vertical-align:top;
}

.rtable{
	width:160px;
	vertical-align:top;
}

.ctable{
	vertical-align:top;
	padding-left:28px;
	padding-right:28px;
}

.main{
	border:0px;
	padding:0px;
	margin:0px;
	width:100%;
}

.main tr td{
	vertical-align:top;
}

#floattable{
	min-width:620px;
}

#ltable{
	width:160px;
	vertical-align:top;
	float:left;
}

#rtable{
	width:160px;
	vertical-align:top;
	float:right;
}

#ctablelr{
	padding-left:1%;
	padding-right:1%;
	margin-left:180px;
	margin-right:180px;
}

#ctablel{
	padding-left:1%;
	padding-right:1%;
	margin-left:180px;
	margin-right:20px;
}

#ctabler{
	padding-left:1%;
	padding-right:1%;
	margin-left:20px;
	margin-right:180px;
}

#ctable{
	padding-left:1%;
	padding-right:1%;
	margin-left:20px;
	margin-right:20px;
}

#cleartable{
	clear:both;
}

#topicpath{
/*	font-size:80%;	*/
}

#footerltable{
	float:left;
}

#qr_code{
	display:block;
	float:left;
}

#banner_box{
	display:block;
	float:right;
	white-space:nowrap;
}

#sigunature{
	float:left;
	white-space:nowrap;
	line-height: 122%;
}

#footerctable{
	width:98%;
}

#note{
	clear:both;
	padding:0px;
	font-size: 86%;
}

#note ul{
	padding:0px;
	list-style-type:none;
}

#toolbar{
	display:block;
	clear:both;
	padding:0px;
	margin:0px 1%;
	float:right;
	white-space: nowrap;
}

#toolbar .pkwk-icon, #toolbar .pkwk-icon_splitter{
	float:left;
}

#attach{
	margin:0px 1%;
}

#related{
	font-size:93%;
}

#attach, #related{
	clear:both;
	margin:10px 0px;
}

#attach dl, #related dl{
	display:block;
}

#attach dl dt, #related dl dt{
	margin-left:0.5em;
	margin-top:0px;
	float:left;
	font-weight:normal;
}

#attach dl dd, #related dl dd{
	margin-left:0.5em;
	padding:0.1em;
	display:block;
	float:left;
}

/* popup toc */
#poptoc{
	font-size:93%;
	min-width:18em;
	max-width:25em;
	/*width:22em;*/
	margin-right:-10em;
	z-index:1;
	position:absolute;
	display:none;
}
#poptoc h2{
	font-size:small;
	font-weight:normal;
	padding:0.3em;
	margin:0;
	text-align:center;
}
#poptoc h2 a{
	font-size:93%;
	text-decoration:none;
}
#poptoc h2 img{
	margin-bottom:-3px;
	margin-right: 2px;
}
#poptoc .nav{
	padding-top:0.2em;
	text-align:center;
}
#poptoc a.here{
	text-decoration: none;
/*	cursor:default;	*/
}

#poptoc ul, #poptoc ol {
	padding-left:12px;
	margin-left:12px
}
/** MenuBar/SideBar*********************************************************************************/

#menubar, #sidebar{
	display:block;
	width:160px;
	padding:0px;
	margin:0px 2px;
	word-break:break-all;
	font-size:93%;
	overflow:hidden;
}

#menubar ul{
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

#menubar ul li{
	padding: 0px 0.3em;
	margin: 0px;
}

#sidebar ul{
	margin:0px 0px 0px .5em;
	padding:0px 0px 0px .5em;
}

#sidebar ul li{
	line-height:110%;
}

#menubar ul li a, #menubar ul li span.noexists,
#sidebar ul li a, #sidebar ul li span.noexists{
	text-decoration: none;
	display:block;
	padding:0.1em 0.3em;
	margin:0px -0.3em;
}

#menubar ul li .noexists a,
#sidebar ul li .noexists a{
	display:inline;
	background-color:transparent;
	padding:0px 5px;
}

#menubar .recent_list, #menubar .popular_list,
#sidebar .recent_list, #sidebar .popular_list {
	list-style-type:disc;
	margin:0 0 0 0.5em;
	padding:0 0 0 0.5em;
	word-wrap:break-word;
}

#menubar .recent_list a, #menubar .popular_list a,
#sidebar .recent_list a, #sidebar .popular_list a {
	display:inline;
	padding:0px;
}

#menubar h2, #menubar h3, #menubar h4, #menubar h5,
#sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5{
	border: 1px grey solid;
	background-color: white;
}

#menubar h2, #menubar h3, #menubar h4,
#sidebar h2, #sidebar h3, #sidebar h4{
	margin:0px 0px 0px 0px;
	padding:4px;
	text-align:center;
}

#menubar h5, #sidebar h5{
	margin:0px 0px 4px 0px;
	padding:3px;
	text-align:center;
}

/** Plugin ****************************************************************************************/

.anchor_super
{
	font-size:xx-small;
	vertical-align:super;
}

/* attach.inc.php */
.attach_table{
	padding:0px;
	border:0px;
	margin:auto;
	text-align:left;
	border-collapse:separate;
	border-spacing:1px;
}

.attach_th{
	padding:2px;
	margin:1px;
	text-align:center;
}

.attach_table tr td{
	padding:2px;
	margin:1px;
}

/* calendar.inc.php */
#body .calendar {
	width:15em;
	margin:auto;
}
#menubar .calendar,
#sidebar .calendar {
	width:90%;
	margin:auto;
}

.calendar_td_caltop {
	text-align:center;
}

.calendar_td_week {
	text-align:center;
	font-size:small;
	width:2em;
}

.calendar_td_blank {
	text-align:center;
	height:1.6em;
}
.calendar_td_today {
	text-align:center;
	height:1.6em;
}
.calendar_td_sun {
	text-align:center;
	height:1.6em;
}
.calendar_td_day {
	text-align:center;
	height:1.6em;
}
.calendar_td_sat {
	text-align:center;
	height:1.6em;
}
.calendar_td_today a,
.calendar_td_sun a,
.calendar_td_day a,
.calendar_td_sat a
{
	display:block;
}

/* calendar2.inc.php */
.style_calendar
{
	padding:0px;
	border:0px;
	margin:3px;
	text-align:center;
}

.style_td_caltop
{
	padding:5px 3px;
	margin:1px;
	font-size:80%;
	text-align:center;
}

.style_td_today
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_sat
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_sun
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_blank
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_day
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_week
{
	padding:5px 5px;
	margin:1px;
	font-size:85%;
	font-weight:bold;
	text-align:center;
}

/* clear.inc.php */
.clear
{
	display:block;
	clear:both;
}

/* counter.inc.php */
.counter
{
	font-size:77%;
}

/* include.inc.php */
.side_label
{
	text-align:center;
}

/* navi.inc.php */
.navi{
	margin:0px;
	padding:0px;
	text-align:center;
}

.navi_none{
	display:inline;
	float:none;
}

.navi_left{
	display:inline;
	float:left;
	text-align:left;
}

.navi_right{
	display:inline;
	float:right;
	text-align:right;
}

/* new.inc.php */
.comment_date{
	font-size:x-small;
}
.new1{
	font-size:x-small;
}
.new5{
	font-size:xx-small;
}

/* popular.inc.php */
.counter{
	font-size:70%;
}
.popular_list{
	padding:0px 0px 0px .5em;
	margin:0px 0px 0px .5em;
	border:0px;
	word-wrap:break-word;
	word-break:break-all;
}

/* recent.inc.php,showrss.inc.php */
.recent_list{
	padding:0px 0px 0px .5em;
	margin:0px 0px 0px .5em;
	border:0px;
	word-wrap:break-word;
	word-break:break-all;
}
.recent_list li{
	line-height:110%;
}

/* ref.inc.php */
.img_margin{
	margin-left:6px;
	margin-right:6px;
}

/* vote.inc.php */
.style_table_vote{
	padding:0px;
	border:0px;
	margin:auto auto auto 32px !important;
	text-align:left;
}

/* amazon.inc.php */
.amazon_img {
	margin:16px 10px 8px 8px;
	text-align:center;
}

.amazon_imgetc {
	 margin:0px 8px 8px 8px;
	 text-align:center;
}

.amazon_sub {
	 font-size:93%;
}

.amazon_avail {
	 margin-left:150px;
	 font-size:93%;
}

.amazon_td {
	 font-size:93%;
	 text-align:center;
}

.amazon_tbl {
	 border:0;
	 width:115px;
	 font-size:93%;
	 text-align:center;
}

/* calendar_viewer.inc.php, minicalendar_viewer.inc.php */
.trackback {
	font-size:80%;
	text-align:right;
}

.prevnext {
}

.prevnext_l {
	float:left;
}

.prevnext_r {
	float:right;
}

/* minicalendar.inc.php */
.ministyle_calendar{
	width:150px;
	padding:0px;
	margin:2px;
	text-align:center;
}

.ministyle_td_caltop{
	padding:2px;
	margin:1px;
	font-size:93%;
	text-align:center;
}

.ministyle_td_today{
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
}

.ministyle_td_sat{
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
}

.ministyle_td_sun{
	height:20px;
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
}

.ministyle_td_blank{
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
}

.ministyle_td_day{
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
	vertical-align:center;
}

.ministyle_td_week{
	width:23px;
	padding:2px 0px;
	margin:2px 0px;
	font-size:93%;
	font-weight:bold;
	text-align:center;
}

/* minicalendar_viewer */
h3.minicalendar
{
	margin: 8px -8px 0px -6px;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

.minicalendar
{
	margin: 8px -8px 0px -6px;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

.minicalendar_viewer
{
	margin: 0px 0px 0px 0px;
}

.minicalendar_viewer h4
{
	margin: 0.5em 0px 0px 0.5em;
}

.minicalendar_viewer p
{
	margin: 0.5em 0px 0px 1.5em;
}

/* minicalendar+public_holiday view */
.date_weekday, .date_weekend, .date_holiday {
	font-family: verdana, arial, sans-serif;
	line-height: 110%;
	font-weight: normal;
	padding: 3px 0;
	border: none;
	margin-bottom: 10px;
}

.day {
	float: left;
	line-height: 100%;
	font-weight: normal;
	letter-spacing: 0.02em;
	padding-left: 4pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	margin: 0px;
	margin-top:3pt;
	margin-right:4pt;
}

/* suckerfish.inc.php */
#nav {
	width:			99%;
	height:			22px;
	font-size:		12px;
	display:		block;
	clear:			both;
	white-space:	nowrap;
	margin:			4px 0px;
	line-height:	1.0;
	padding:		0px 10px;
}

#nav * {
	margin:			0px;
	padding:		0px;
	list-style:		none;
}

#nav ul {
	margin: 0px;
	position:		absolute;
	top:			100%;
	left:			0px;
	width:			10em;
	display:		none;
	
}
#nav ul li {
	width:			100%;
	padding:4px;
}
#nav ul ul {
	top:0;
	left:100%;
}
#nav li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#nav li {
	float:			left;
	position:		relative;
	padding:4px;
	margin:0;
}
#nav img{
	display:inline;
	vertical-align:middle;
}

#nav li a, #nav span.noexists {
	display:inline;
	text-decoration:none;
}
#nav a {
	font-weight: bold;
	text-decoration: none;
}

#nav a:visited, #nav a:active, #nav a:focus, #nav a:hover, #nav a:active {
	text-decoration: none;
}

#nav li li {
	width:12em;
}

#nav li:hover ul ul,
#nav li li:hover ul ul, 
#nav li li li:hover ul ul, 
#nav li li li li:hover ul ul, 
#nav li.sfhover ul ul, 
#nav li li.sfhover ul ul, 
#nav li li li.sfhover ul ul, 
#nav li li li li.sfhover ul ul {
	display:none;
}
#nav li:hover ul, 
#nav li li:hover ul, 
#nav li li li:hover ul, 
#nav li li li li:hover ul, 
#nav li.sfhover ul, 
#nav li li.sfhover ul, 
#nav li li li.sfhover ul, 
#nav li li li li.sfhover ul {
	display:block;
}

#nav .noexists {
	background-color:transparent;
}

/* for BugTrack/1 */
.dummyblock
{
	width:77%;
	float:left;
	display:block;
}

.center_form
{
	text-align:center;
	padding:4px 0px 8px;
	margin:0px;
}

/* navibar2.inc.php */
#navigator2 {
	margin: 4px 0px;
	padding: 0px 4px;
	left: 0px;
	width: 99%;
	clear:both;
	white-space: nowrap;
}

/* form */

.edit_form textarea {
	width:100%;
}

