@charset "UTF-8";
/* this @charset is for mozilla's bug */
/*
/////////////////////////////////////////////////
// PukiWiki Plus! skin for PukiWiki Advance
// Original version written by miko and upk.
// Adv version by Logue.
// 
// $Id: default.css,v 1.33.7 2010/10/22 17:40:00 Logue Exp $
//
*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* END RESET CSS */

/*
fonts.css from the YUI Library: http://developer.yahoo.com/yui/
          Please refer to http://developer.yahoo.com/yui/fonts/ for font sizing percentages
*/


/**
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 */
body {
	font:13px/1.231 arial,helvetica,clean,sans-serif;
	/* for IE6/7 */ 
	*font-size:small; 
	/* for IE Quirks Mode */
	*font:x-small; 
}

/**
 * To help tables remember to inherit
 */
table {
	font-size:inherit;
	font:100%;
}

/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
select,
input,
button,
textarea,
button,
pre,
code,
kbd,
samp,
tt,
.ui-button {
	font-family:monospace;
	*font-size:108%;
}

/* 
 * minimal base styles 
 */

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
	padding: 15px; 

	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button,.ui-button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/** PukiWiki Plus! CSS set Start *******************************************************************/

body, h1, h2, h3, h4, h5, .ui-widget{
	font-family:"Trebuchet MS", Meiryo, Osaka, Sans-Serif;
}

a:link, a:active, a:visited{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

h1{
	font-size: 161.6%;
	border:0px;
	margin:.2em 0px .2em .5em;
}

h2{
	font-size:146%;
	padding:.3em .3em .15em .5em;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

h3{
	font-size:131%;
	
	padding:.3em .3em .15em .5em;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

h4, h5, h6{
	font-size:116%;
	padding:.3em .3em .15em .5em;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

h1.title{
	font-size: 232%;
	font-weight:bold;
	background-color:transparent;
	padding: 12px 0px 0px 0px;
	border: 0px;
	margin: 12px 0px 0px 0px;
}
#body h2{
	margin:.2em -10px .2em -21px;
}

#body h3{
	margin:.2em -10px .5em -14px;
}
#body h4, h5, h6{
	margin:.2em -10px .5em -7px;
}

dt{
	font-weight:bold;
	margin-top:1em;
}

dd{
	margin-left:1em;
}

blockquote, pre, ul ,ol ,p{
	margin:0.5em;
}

ul, ol, dl {
	padding-left:16px;
	margin-left:16px
}

pre, .pre{
	padding:.5em;
	line-break:strict;
	word-break:break-all;
	word-wrap:break-word;
}

img{
	border:none;
	vertical-align:middle;
}

/* pukiwiki extend anchor */
img.ext{
	margin-left: 2px;
	vertical-align: baseline;
}
img.inn{
	margin-left: 2px;
	vertical-align: baseline;
}

em{
	font-style:italic;
}

strong{
	font-weight:bold;
}

blockquote p{
	margin: 0.5em 1em;
}

address{
	display:inline;
}

fieldset {
	border: 1px silver groove;
	border-radius:0.5em;
	-moz-border-radius:0.5em;
	padding:0.5em;
}

legend {
	text-indent:0.5em;
}

.style_table{
	border-spacing:2px;
	padding:0px;
	border:0px;
	margin:auto;
	text-align:left;
	border-collapse:separate;
	border-spacing:1px;
}

.style_th{
	padding:5px;
	margin:1px;
	text-align:center;
}
.style_td{
	padding:5px;
	margin:1px;
}

ul.list1{
	list-style-type:disc;
}
ul.list2{
	list-style-type:circle;
}
ul.list3{
	list-style-type:square;
}
ol.list1{
	list-style-type:decimal;
}
ol.list2{
	list-style-type:lower-roman;
}
ol.list3{
	list-style-type:lower-alpha;
}

div.ie5{
	text-align:center;
}

small, .small{
	font-size:85%;
}

.small1{
	font-size:77%;
}

.super_index{
	font-weight:bold;
	font-size:77%;
	vertical-align:super;
}

a.note_super{
	font-weight:bold;
	font-size:77%;
	vertical-align:super;
	margin: 0px 1%;
}

div.jumpmenu{
	font-size:77%;
	text-align:right;
}

hr.full_hr{
	width:100%;
}

hr.short_line{
	width:80%;
}
hr.note_hr{
	margin:1em 0.5em 0em 0.5em;
}

span.size1{
	font-size:xx-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size2{
	font-size:x-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size3{
	font-size:small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size4{
	font-size:medium;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size5{
	font-size:large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size6{
	font-size:x-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size7{
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}

input[type='text'], input[type='password'], textarea, select, iframe {
	border:1px solid #AAA;
	margin:0px;
	font-family:monospace !important;
	font-size: 93%;
}

ruby {
	display:inline-table !important;
	text-align:center !important;
	white-space:nowrap !important;
	text-indent:0 !important;
	margin:0 !important;
	vertical-align:text-bottom !important;
	line-height:1 !important;
}

ruby>rb,ruby>rbc {
	display:table-row-group !important;
	line-height:1.0 !important;
}
ruby>rt,ruby>rbc+rtc {
	display:table-header-group !important;
	font-size:50% !important;
	line-height:1.0 !important;
	letter-spacing:0 !important;
}

ruby>rbc+rtc+rtc {
	display:table-footer-group !important;
	font-size:50% !important;
	line-height:1.0 !important;
	letter-spacing:0 !important;
}

rbc>rb,rtc>rt {
	display:table-cell !important;
	letter-spacing:0 !important;
}

rp {
	display:none !important;
}


/** Misc ******************************************************************************************/
#lastmodified{
	display:block;
	text-align:right;
	font-size:93%;
	padding:0px;
	margin:0px 1%;
}

#header{
	padding:0px;
	margin:1% 1%;
	display:block;
}

#header .style_table{
	background-color: transparent;
}

#header .style_table .style_th{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#header .style_table .style_td{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#header .style_table .style_td h1.title{
	font-size: 232%;
	font-weight:bold;
	background-color:transparent;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

#body{
	display:block;
	padding:0px;
	margin:0px 0px 0px 0px;
}

#body a{
	line-break:strict;
	word-break:break-all;
	word-wrap:break-word;
}

#footer{
	dispaly:block;
	clear:both;
	display:block;
	font-size:77%;
	padding:0px;
	margin:0px 1% 0px 1%;
}

#footer .style_table{
	background-color: transparent;
}

#footer .style_table .style_th{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#footer .style_table .style_td{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#logo{
	float:left;
	margin-right:20px;
}

#navigator{
	display:block;
	clear:both;
	padding:4px 0px 0px 0px;
	margin:0px 1%;
	white-space: nowrap;
}

/* PukiWiki Plus! Skin */
td.menubar, td.sidebar{
	width:160px;
	vertical-align:top;
}

td.ltable{
	width:160px;
	vertical-align:top;
}

td.rtable{
	width:160px;
	vertical-align:top;
}

td.ctable{
	vertical-align:top;
	padding-left:28px;
	padding-right:28px;
}

table.main{
	border:0px;
	padding:0px;
	margin:0px;
	width:100%;
}

table.main tr td{
	vertical-align:top;
}

#floattable{
	min-width:620px;
}

#ltable{
	width:160px;
	vertical-align:top;
	float:left;
}

#rtable{
	width:160px;
	vertical-align:top;
	float:right;
}

#ctablelr{
	padding-left:1%;
	padding-right:1%;
	margin-left:180px;
	margin-right:180px;
}

#ctablel{
	padding-left:1%;
	padding-right:1%;
	margin-left:180px;
	margin-right:20px;
}

#ctabler{
	padding-left:1%;
	padding-right:1%;
	margin-left:20px;
	margin-right:180px;
}

#ctable{
	padding-left:1%;
	padding-right:1%;
	margin-left:20px;
	margin-right:20px;
}

#cleartable{
	clear:both;
}

#topicpath{
/*	font-size:80%;	*/
}

#footerltable{
	float:left;
}

#qr_code{
	display:block;
	float:left;
}

#banner_box{
	display:block;
	float:right;
	white-space:nowrap;
}

#sigunature{
	float:left;
	white-space:nowrap;
	line-height: 122%;
}

#footerctable{
	width:98%;
}

#note{
	clear:both;
	padding:0px;
	font-size: 86%;
	
}

#note ul{
	padding:0px;
	list-style-type:none;
}

#toolbar{
	display:block;
	clear:both;
	padding:0px;
	margin:0px 1%;
	float:right;
	white-space: nowrap;
}

#toolbar .pkwk-icon, #toolbar .pkwk-icon_splitter{
	float:left;
}

#attach{
	margin:0px 1%;
}

#related{
	font-size:93%;
}

#attach, #related{
	clear:both;
	margin:10px 0px;
}

#attach dl, #related dl{
	display:block;
}

#attach dl dt, #related dl dt{
	margin-left:0.5em;
	margin-top:0px;
	float:left;
	font-weight:normal;
}

#attach dl dd, #related dl dd{
	margin-left:0.5em;
	padding:0.1em;
	display:block;
	float:left;
}

/* popup toc */
#poptoc{
	font-size:93%;
	min-width:18em;
	max-width:25em;
	/*width:22em;*/
	margin-right:-10em;
	z-index:1;
	position:absolute;
	display:none;
}
#poptoc h2{
	font-size:small;
	font-weight:normal;
	padding:0.3em;
	margin:0;
	text-align:center;
}
#poptoc h2 a{
	font-size:93%;
	text-decoration:none;
}
#poptoc h2 img{
	margin-bottom:-3px;
	margin-right: 2px;
}
#poptoc .nav{
	padding-top:0.2em;
	text-align:center;
}
#poptoc a.here{
	text-decoration: none;
/*	cursor:default;	*/
}

#poptoc ul, #poptoc ol {
	padding-left:12px;
	margin-left:12px
}
/** MenuBar/SideBar*********************************************************************************/

#menubar, #sidebar{
	display:block;
	width:160px;
	padding:0px;
	margin:0px 2px;
	word-break:break-all;
	font-size:93%;
	overflow:hidden;
}

#menubar ul{
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

#menubar ul li{
	padding: 0px 0.3em;
	margin: 0px;
}

#sidebar ul{
	margin:0px 0px 0px .5em;
	padding:0px 0px 0px .5em;
}

#sidebar ul li{
	line-height:110%;
}

#menubar ul li a, #menubar ul li span.noexists,
#sidebar ul li a, #sidebar ul li span.noexists{
	text-decoration: none;
	display:block;
	padding:0.1em 0.3em;
	margin:0px -0.3em;
}

#menubar ul li span.noexists a,
#sidebar ul li span.noexists a{
	display:inline;
	background-color:transparent;
	padding:0px 5px;
}

#menubar ul.recent_list, #menubar ul.popular_list,
#sidebar ul.recent_list, #sidebar ul.popular_list {
	list-style-type:disc;
	margin:0 0 0 0.5em;
	padding:0 0 0 0.5em;
	word-wrap:break-word;
}

#menubar ul.recent_list a, #menubar ul.popular_list a,
#sidebar ul.recent_list a, #sidebar ul.popular_list a {
	display:inline;
	padding:0px;
}

#menubar h2, #menubar h3, #menubar h4, #menubar h5,
#sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5{
	border: 1px grey solid;
	background-color: white;
}

#menubar h2, #menubar h3, #menubar h4,
#sidebar h2, #sidebar h3, #sidebar h4{
	margin:0px 0px 0px 0px;
	padding:4px;
	text-align:center;
}

#menubar h5, #sidebar h5{
	margin:0px 0px 4px 0px;
	padding:3px;
	text-align:center;
}

/** Plugin ****************************************************************************************/

.anchor_super
{
	font-size:xx-small;
	vertical-align:super;
}

/* attach.inc.php */
table.attach_table{
	padding:0px;
	border:0px;
	margin:auto;
	text-align:left;
	border-collapse:separate;
	border-spacing:1px;
}

th.attach_th{
	padding:2px;
	margin:1px;
	text-align:center;
}

table.attach_table tr td{
	padding:2px;
	margin:1px;
}

/* calendar.inc.php */
#body .calendar {
	width:15em;
	margin:auto;
}
#menubar .calendar,
#sidebar .calendar {
	width:90%;
	margin:auto;
}

.calendar_td_caltop {
	text-align:center;
}

.calendar_td_week {
	text-align:center;
	font-size:small;
	width:2em;
}

.calendar_td_blank {
	text-align:center;
	height:1.6em;
}
.calendar_td_today {
	text-align:center;
	height:1.6em;
}
.calendar_td_sun {
	text-align:center;
	height:1.6em;
}
.calendar_td_day {
	text-align:center;
	height:1.6em;
}
.calendar_td_sat {
	text-align:center;
	height:1.6em;
}
.calendar_td_today a,
.calendar_td_sun a,
.calendar_td_day a,
.calendar_td_sat a
{
	display:block;
}

/* calendar2.inc.php */
.style_calendar
{
	padding:0px;
	border:0px;
	margin:3px;
	text-align:center;
}

.style_td_caltop
{
	padding:5px 3px;
	margin:1px;
	font-size:80%;
	text-align:center;
}

.style_td_today
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_sat
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_sun
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_blank
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_day
{
	padding:5px 3px;
	margin:1px;
	text-align:center;
}

.style_td_week
{
	padding:5px 5px;
	margin:1px;
	font-size:85%;
	font-weight:bold;
	text-align:center;
}

/* clear.inc.php */
.clear
{
	display:block;
	clear:both;
}

/* counter.inc.php */
div.counter
{
	font-size:77%;
}

/* include.inc.php */
h5.side_label
{
	text-align:center;
}

/* navi.inc.php */
.navi{
	margin:0px;
	padding:0px;
	text-align:center;
}

.navi_none{
	display:inline;
	float:none;
}

.navi_left{
	display:inline;
	float:left;
	text-align:left;
}

.navi_right{
	display:inline;
	float:right;
	text-align:right;
}

/* new.inc.php */
span.comment_date{
	font-size:x-small;
}
span.new1{
	font-size:x-small;
}
span.new5{
	font-size:xx-small;
}

/* popular.inc.php */
span.counter{
	font-size:70%;
}
ul.popular_list{
	padding:0px 0px 0px .5em;
	margin:0px 0px 0px .5em;
	border:0px;
	word-wrap:break-word;
	word-break:break-all;
}

/* recent.inc.php,showrss.inc.php */
ul.recent_list{
	padding:0px 0px 0px .5em;
	margin:0px 0px 0px .5em;
	border:0px;
	word-wrap:break-word;
	word-break:break-all;
}
ul.recent_list li{
	line-height:110%;
}

/* ref.inc.php */
div.img_margin{
	margin-left:6px;
	margin-right:6px;
}

/* vote.inc.php */
.style_table_vote{
	padding:0px;
	border:0px;
	margin:auto auto auto 32px !important;
	text-align:left;
}

/* amazon.inc.php */
div.amazon_img {
	margin:16px 10px 8px 8px;
	text-align:center;
}

div.amazon_imgetc {
	 margin:0px 8px 8px 8px;
	 text-align:center;
}

div.amazon_sub {
	 font-size:93%;
}

div.amazon_avail {
	 margin-left:150px;
	 font-size:93%;
}

td.amazon_td {
	 font-size:93%;
	 text-align:center;
}

table.amazon_tbl {
	 border:0;
	 width:115px;
	 font-size:93%;
	 text-align:center;
}

/* calendar_viewer.inc.php, minicalendar_viewer.inc.php */
div.trackback {
	font-size:80%;
	text-align:right;
}

div.prevnext {
}

div.prevnext_l {
	float:left;
}

div.prevnext_r {
	float:right;
}

/* minicalendar.inc.php */
.ministyle_calendar{
	width:150px;
	padding:0px;
	margin:2px;
	text-align:center;
}

.ministyle_td_caltop{
	padding:2px;
	margin:1px;
	font-size:93%;
	text-align:center;
}

.ministyle_td_today{
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
}

.ministyle_td_sat{
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
}

.ministyle_td_sun{
	height:20px;
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
}

.ministyle_td_blank{
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
}

.ministyle_td_day{
	padding:1px;
	margin:1px;
	font-size:116%;
	text-align:center;
	vertical-align:center;
}

.ministyle_td_week{
	width:23px;
	padding:2px 0px;
	margin:2px 0px;
	font-size:93%;
	font-weight:bold;
	text-align:center;
}

/* minicalendar_viewer */
h3.minicalendar
{
	margin: 8px -8px 0px -6px;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

h4.minicalendar
{
	margin: 8px -8px 0px -6px;
	border:0px;
	border-left:8px solid;
	border-bottom:1px solid;
}

.minicalendar_viewer
{
	margin: 0px 0px 0px 0px;
}

.minicalendar_viewer h4
{
	margin: 0.5em 0px 0px 0.5em;
}

.minicalendar_viewer p
{
	margin: 0.5em 0px 0px 1.5em;
}

/* minicalendar+public_holiday view */
.date_weekday, .date_weekend, .date_holiday {
	font-family: verdana, arial, sans-serif;
	line-height: 110%;
	font-weight: normal;
	padding: 3px 0;
	border: none;
	margin-bottom: 10px;
}

.day {
	float: left;
	line-height: 100%;
	font-weight: normal;
	letter-spacing: 0.02em;
	padding-left: 4pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	margin: 0px;
	margin-top:3pt;
	margin-right:4pt;
}

/* suckerfish.inc.php */
#nav {
	width:			99%;
	height:			22px;
	font-size:		12px;
	display:		block;
	clear:			both;
	white-space:	nowrap;
	margin:			4px 0px;
	line-height:	1.0;
	padding:		0px 10px;
}

#nav * {
	margin:			0px;
	padding:		0px;
	list-style:		none;
}

#nav ul {
	margin: 0px;
	position:		absolute;
	top:			100%;
	left:			0px;
	width:			10em;
	display:		none;
	
}
#nav ul li {
	width:			100%;
	padding:4px;
}
#nav ul ul {
	top:0;
	left:100%;
}
#nav li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#nav li {
	float:			left;
	position:		relative;
	padding:4px;
	margin:0;
}
#nav img{
	display:inline;
	vertical-align:middle;
}

#nav li a, #nav span.noexists {
	display:inline;
	text-decoration:none;
}
#nav a {
	font-weight: bold;
	text-decoration: none;
}

#nav a:visited, #nav a:active, #nav a:focus, #nav a:hover, #nav a:active {
	text-decoration: none;
}

#nav li li {
	width:12em;
}

#nav li:hover ul ul,
#nav li li:hover ul ul, 
#nav li li li:hover ul ul, 
#nav li li li li:hover ul ul, 
#nav li.sfhover ul ul, 
#nav li li.sfhover ul ul, 
#nav li li li.sfhover ul ul, 
#nav li li li li.sfhover ul ul {
	display:none;
}
#nav li:hover ul, 
#nav li li:hover ul, 
#nav li li li:hover ul, 
#nav li li li li:hover ul, 
#nav li.sfhover ul, 
#nav li li.sfhover ul, 
#nav li li li.sfhover ul, 
#nav li li li li.sfhover ul {
	display:block;
}

#nav .noexists {
	background-color:transparent;
}

/* for BugTrack/1 */
.dummyblock
{
	width:77%;
	float:left;
	display:block;
}

.center_form
{
	text-align:center;
	padding:4px 0px 8px;
	margin:0px;
}

/* code.inc.php */
pre.code {
	margin: 1em 2em 0.5em 1em;
	padding: 0.5em;
	line-height: 120%;
}

table.code_table pre.code,
div.code_table pre.code
{
	margin: 0;
	padding: 0;
	padding-left: 0.5em;
	border: 1px;
	line-height: 120%;
}

pre.code_number {
	margin: 0;
	padding: 0;
	padding-right: 0.5em;
	border: 1px;
	line-height: 120%;
	min-width: 3ex;
}

pre.code_outline {
	margin:  0;
	padding: 0;
	border: 1px;
	width: 10px;
	text-align: center;
	line-height: 120%;
}

div.code_table {
	margin: 1em 2em 0.5em 1em;
	white-space: pre;
}

table.code_table,
table.code_table td,
div.code_number pre,
div.code_outline pre,
div.code_src pre
{
	margin:  0;
	padding: 0;
	border: none;
}

td.code_src {width:100%;}

div.code_number,
div.code_outline,
div.code_src
{
	position: relative;
	margin: 0;
	padding: 0;
	left: 0;
	float: left;
}

img.code_dotimage {width:20px;height:8px;margin:0;padding:0;}

a.code_outline, a.code_outline:link, a.code_outline:visited, a.code_outline:hover, a.code_outline:active{
	text-decoration: none;
}

/* navibar2.inc.php */
div#navigator2 {
	margin: 4px 0px;
	padding: 0px 4px;
	left: 0px;
	width: 99%;
	clear:both;
	white-space: nowrap;
}

/* form */

.edit_form textarea {
	width:100%;
}

/* for blikifooter */
div.blikiFooter {
	text-align:right;
}

#banner_box a:hover{
	background-color:transparent;
}
