@charset "UTF-8";
/* this @charset is for mozilla's bug */
/*
/////////////////////////////////////////////////
// PukiWiki Plus! skin for PukiWiki Advance
// Original version written by miko and upk.
// Adv version by Logue.
// 
// $Id: green.css,v 1.0.2 2011/04/09 17:51:00 Logue Exp $
//
*/

::-moz-selection{
	background: Teal;
	color:#fff;
	text-shadow: none;
}
::selection {
	background:Teal;
	color:#fff;
	text-shadow: none;
}

body{
	color:#223333;
	background-color:white;
}

a:link{
	color:#215dc6;
	-webkit-tap-highlight-color: #5EFF99;
}

a:active{
	color:#215dc6;
	background-color:#CCEEDD;
}

a:visited{
	color:#a63d21;
	background-color:inherit;
}

a:hover{
	color:#215dc6;
	background-color:#CCEEDD;
}

h1.title{
	color:#00cc00;
}

h1, h2{
	border-color:#ffffff #ffffff #999999 mediumseagreen;
}

h3{
	border-color:#ffffff #ffffff #999999 mediumaquamarine;
}

h4, h5, h6{
	border-color:#f8fff8 #f8fff8 #999999 lightgreen;
}

dt{
	color: #336633;
}

pre{
	border-top:#DDEEDD 1px solid;
	border-bottom:#889988 1px solid;
	border-left:#DDEEDD 1px solid;
	border-right:#889988 1px solid;
	background-color:#F0FFF8;
}

blockquote{
	border: 1px solid #99FFCC;
}

hr{
	border-color: #333333;
}

thead td.style_td,
tfoot td.style_td{
	color:inherit;
	background-color:#D0E0D8;
}
thead th.style_th,
tfoot th.style_th{
	background-color:#E0F0E8;
}
.style_table{
	background-color:#ccddd5;
}
.style_th{
	background-color:#EEEEEE;
}
.style_td{
	background-color:#EEFFF5;
}
.style_td_blank{
	background-color:#E3F6EA;
}

.noexists{
	color:inherit;
	background-color:#FFFACC;
}

.super_index
{
	color:#DD3333;
	background-color:inherit;
}

a.note_super
{
	color:#DD3333;
	background-color:inherit;
}

fieldset {
	border: 1px darkseagreen solid;
}

#preview{
	background-color:#F5F8FF;
}

/* Layout */
td.ltable{
	background-color: #EEFFFC;
}

td.rtable{
	background-color: #EEFFFC;
}

/** MenuBar/SideBar *******************************************************************************/
#menubar ul.menu li, #sidebar ul.menu li{
	border-bottom: 1px dotted #EEFFFC;
}

#menubar h2, #menubar h3, #menubar h4, #menubar h5,
#sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5{
	border: 1px #99FFCC solid;
	background-color: #DDFFF0;
}

/* Plugin *****************************************************************************************/
/* backup.inc.php */
.add_word, .add_block{
	background-color:#FFFF66;
}

.remove_word, .remove_block{
	background-color:#A0FFFF;
}

/* calendar.inc.php */
.style_calendar {
	background-color:#E0E0E0;
}
.style_calendar_top {
	background-color:#EEFFF5 !important;
}
.style_calendar_today {
	background-color:#EEFFF5;
}
.style_calendar_sat {
	background-color:#DDE5FF;
}
.style_calendar_sun, .style_calendar_holiday {
	background-color:#FFEEEE;
}
.style_calendar_blank {

}
.style_calendar_day {

}
.style_calendar_week {
	background-color:#DDEEE5;
}

.style_calendar tbody .style_td:hover{
	background-color: #DDFFFF;
}

/* suckerfish.inc.php */
.sf-menu {
	color: white !important;
	background-color: MediumSeaGreen;
	border-color: Teal;
}

.sf-menu ul{
	background-color: MediumSeaGreen;
	border-color: Teal;
}

.sf-menu li {
	border-color: MediumSeaGreen;
}

.sf-menu li:hover, .sf-menu li.sfHover{
	color: DarkSlateGray !important;
	background-color: mediumaquamarine;
	border-color: white;
}

.sf-menu li ul li:hover, .sf-menu li ul li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color: DarkSlateGray !important;
	background-color: mediumaquamarine;
}
