@charset "UTF-8";
/*
/////////////////////////////////////////////////
// PukiWiki - Yet another WikiWikiWeb clone.
//
// $Id: print.css,v 1.4.3 2010/08/26 22:43:52 miko Exp $
//
*/
@import url("default.css");

* { background: transparent !important; color: #444 !important; text-shadow: none; }

a, a:visited { color: #444 !important; text-decoration: underline; }

a:after { content: " (" attr(href) ")"; } 

abbr:after { content: " (" attr(title) ")"; }

.ir a:after { content: ""; }  /* Don't show links for images */

pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

img { page-break-inside: avoid; }

@page { margin: 0.5cm; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3{ page-break-after: avoid; }

a:link
{
	text-decoration: underline;
}
a:visited
{
	text-decoration: underline;
}
/*
#header
{
	display:none;
}
*/
img#logo
{
	display:none;
}
img.tocpic
{
        display:none;
}
td.ltable
{
	display:none;
}
td.rtable
{
	display:none;
}
#navigator
{
	display:none;
}
#navibar{
	display:none;
}
#nav
{
	display:none;
}
td.menubar
{
	display:none;
}
#menubar
{
	display:none;
}
td.sidebar
{
	display:none;
}
#sidebar
{
	display:none;
}
/*
#note
{
	display:none;
}
*/
#attach
{
	display:none;
}
#toolbar
{
	display:none;
}
#lastmodified
{
	display:none;
}
#related
{
	display:none;
}
/*
#footer
{
	display:none;
}
*/
.anchor_super
{
	display:none;
}
.jumpmenu
{
	display:none;
}
div#navibar
{
	display:none;
}
div#topicpath
{
	display:none;
}
