/* ==|== ui icon classes ==================================================== */
.pkwk-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 100%;
	background-image:inline-image('iconset/crystal.png');
	background-position: -1000px -1000px;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin:0 2px;
	text-align: center;
	text-shadow: none;
	color: transparent;
}
.icon-new {
	background-position: 0 0;
}
.icon-page {
	background-position: -18px 0;
}
.icon-add {
	background-position: -36px 0;
}
.icon-copy {
	background-position: -54px 0;
}
.icon-newsub {
	background-position: -72px 0;
}
.icon-edit {
	background-position: -90px 0;
}
.icon-diff {
	background-position: -108px 0;
}
.icon-source {
	background-position: 0 -18px;
}
.icon-rename {
	background-position: -18px -18px;
}
.icon-upload {
	background-position: -36px -18px;
}
.icon-backup {
	background-position: -54px -18px;
}
.icon-reload {
	background-position: -72px -18px;
}
.icon-freeze {
	background-position: -90px -18px;
}
.icon-unfreeze {
	background-position: -108px -18px;
}
.icon-pdf {
	background-position: 0 -36px;
}
.icon-list {
	background-position: -18px -36px;
}
.icon-filelist {
	background-position: -36px -36px;
}
.icon-login {
	background-position: -54px -36px;
}
.icon-logout {
	background-position: -72px -36px;
}
.icon-referer {
	background-position: -90px -36px;
}
/*
.icon-linklist		{ background-position: -108px -36px; }
*/

.icon-download {
	background-position: 0 -54px;
}
.icon-search {
	background-position: -18px -54px;
}
.icon-log {
	background-position: -36px -54px;
}
/*
.icon-log_check		{ background-position: -54px -54px; }
.icon-log_down		{ background-position: -72px -54px; }
.icon-log_login		{ background-position: -90px -54px; }
.icon-log_update	{ background-position: -108px -54px; }
*/

.icon-top {
	background-position: 0 -72px;
}
.icon-home {
	background-position: -18px -72px;
}
.icon-recent {
	background-position: -36px -72px;
}
.icon-help {
	background-position: -54px -72px;
}
.icon-alias {
	background-position: -72px -72px;
}
.icon-glossary {
	background-position: -90px -72px;
}
.icon-deleted {
	background-position: -108px -72px;
}
.icon-rss {
	background-position: 0 -90px;
}
.icon-opml {
	background-position: -18px -90px;
}
.icon-share {
	background-position: -36px -90px;
}
.icon-canonical {
	background-position: -54px -90px;
}
.icon-trackback {
	background-position: -72px -90px;
}
.icon-tags {
	background-position: -90px -90px;
}
.icon-toc {
	background-position: -108px -90px;
}
.icon-interwiki {
	background-position: 0 -108px;
}
.icon-mail {
	background-position: -18px -108px;
}
.pkwk-symbol {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin:0 2px;
	line-height:100%;
	background-image:inline-image('iconset/crystal.png') -1000px -1000px no-repeat;
	vertical-align: middle;
	text-align:center;
	text-shadow:none;
	color: transparent;
}
.symbol-add {
	background-position: -36px -114px;
}
.symbol-edit {
	background-position: -54px -114px;
}
.symbol-attach {
	background-position: -72px -114px;
}
.symbol-external {
	background-position: -90px -114px;
}
.symbol-internal {
	background-position: -108px -114px;
}