/* sunlight */
.sunlight-code-container pre{
	margin:0;
	padding:0;
	border:none;
	border-radius:0;
	box-shadow:none;
	font-family:inherit;
}

.sunlight-highlighted{
	font-family:inherit;
	word-wrap: normal !important;
}

.sunlight-highlighted *, .sunlight-highlighted * *{
	font-family:inherit;
}