/* ==|== print styles ======================================================= */
@media print {
	* {
		background:transparent!important;
		color:#000!important;
		box-shadow:none!important;
		text-shadow:none!important
	}
	a, a:visited {
		text-decoration:underline
	}
	a[href]:after {
		content:" (" attr(href) ")"
	}
	abbr[title]:after {
		content:" (" attr(title) ")"
	}
	pre, blockquote {
		border:1px solid #999;
		page-break-inside:avoid
	}
	thead {
		display:table-header-group
	}
	tr, img {
		page-break-inside:avoid
	}
	img {
		max-width:100%!important
	}
	@page {
		margin:.5cm
	}
	p, h2, h3 {
		orphans:3;
		widows:3
	}
	h2, h3 {
		page-break-after:avoid
	}
	form, nav, .pkwk-icon, .pkwk-symbol,  .navibar, .toolbar, .navi, .message_box, .noprint, .tocpic, .sf-menu, .pkwk_widget,  .style_calendar_prev, .style_calendar_next, .pkwk-symbol, #poptoc, #toolbar, .ui-dialog, #topicpath {
		display:none !important;
		visibility: hidden !important;
	}
	.note_super {
		color:grey !important;
	}
	.emoji {
		font-family:Symbola !important;
		color:black;
		display: inline;
		text-indent:0;
	}
	p,  h2,  h3 {
		orphans: 3;
		widows: 3;
	}
	h1, h2, h3, h4, h5, h6 {
		margin:0;
		padding:.3em .3em .15em .5em !important;
		border-left:8px solid !important;
		border-bottom:1px solid !important;
		float:none !important;
		width:100% !important;
	}
	h1 {
		border-color:white white black dimgray !important;
	}
	h2, h3 {
		border-color:white white dimgray grey !important;
		page-break-after: avoid;
	}
	h4, h5 {
		border-color:silver silver grey darkgray !important;
	}
	h6 {
		border-color:silver silver darkgray silver !important;
	}
	h1 a[href]:after, #qr_code a[href]:after, a.anchor_super[href]:after, .noexists a[href]:after {
		content: "";
	}
	.style_week[title]:after {
		content: "";
	}
}