/* ■■ design ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* General
----------------------------------------------------------------------------- */
dd{
	margin:2px 0px 5px 20px;
}

pre{
	background-color:#fff;
	border-top:#666 1px solid;
	border-right:#888899 2px solid;
	border-bottom:#888899 2px solid;
	border-left:#666 1px solid;
	margin:15px;
	padding:.5em;
	white-space:pre;
	word-wrap:break-word;
	overflow:auto;
}
blockquote{
	margin:1em 2em 1em;
	padding-left:0.3em;
	border-left:solid 5px #999;
}

hr{
	border-color: #999;
}

p, pre, dl{
	margin:0.5em 1.5em;
}

ul, ol, dl {
	padding-left:1.5em;
}

ul, ol{
	margin:0.5em 2em;
}

dt{
	font-weight:bold;
}

fieldset pre{
	margin:0.2em;
}

thead td.style_td,
tfoot td.style_td{
	background-color:#D0D8E0;
}
thead th.style_th,
tfoot th.style_th{
	background-color:#E0E8F0;
}
.style_table{
	background-color:#ccd5dd;
}
.style_th{
	background-color:#EEEEEE;
}
.style_td{
	background-color:#EEF5FF;
}
.style_td_blank{
	background-color:#E3EAF6;
}

.noexists{
	background-color:#FFFACC;
}



.style_calendar_navi ul{
	list-style-image: none;
	list-style:none;
	margin: 0 !important;
	padding:0 !important;
}

#wrapper{
	width:98%;
	margin:9px auto;
}

#content{
	float:right;
	width:80%;
}

#title a{
	text-decoration:none;
}
#lastmodified{
	font-size:small;
	font-weight:normal;
	color:#777;
	text-align:left;
}

/* CenterBar
----------------------------------------------------------------------------- */

#body{
	width:100%;
	word-break:break-all;
	overflow:hidden;
}
#body h1,
#body h2,
#body h3
#body h4
#body input{
	line-height:1em;
}
#body h1{
	margin:30px 0px 5px 0px;
	padding-left:10px;
}
#body h1 a{
	text-decoration:none;
}
#body h2{
	margin:30px 0px 5px 0px;
	padding-left:10px;
}
#body h2 a{
	text-decoration:none;
}
#body h3{
	margin:2em 0px 5px 0px;
	padding-left:8px;
}
#body h3 a{
	text-decoration:none;
}
#body h4{
	margin:2em 0px 5px 0em;
	padding-left:4px;
}
#body h4 a{
	text-decoration:none;
}

#body p{
	margin:1em;
}

#body table{
	word-break:break-all;
	word-wrap:break-word;
	max-width:100%;
}

#body textarea{
	max-width:100%;
}
/* Summary
----------------------------------------------------------------------------- */
#summary{
	color:#666;
	border-left:solid 4px #999;
	margin:45px 0px 0px 0px;
	padding-left:5px;
	clear:both;
}
#note{
	border-bottom:solid 1px #999;
}

/* Header
----------------------------------------------------------------------------- */
#header{
	font-family:Arial,Sans Serif,generic font family;
	margin-bottom:.5em;
}
#header a{
	text-decoration:none;
}
#logo{
	padding:10px 0 5px 10px;
	font-size:40px;
}

/* Side_Bar
----------------------------------------------------------------------------- */
#sidebar{
	float:left;
	word-break:break-all;
	font-size:93%;
	overflow:hidden;
	width:19%;
}
.bar{
	word-break:break-all;
	padding:7px 15px 15px 15px;
}

.bar,#header,#footer, #header + .navibar {
	border-radius: .7em;			/* CSS3草案 */
	-webkit-border-radius: .7em;	/* Safari,Google Chrome用 */
	-moz-border-radius: .7em;		/* Firefox用 */
}

.bar h1,
.bar h2,
.bar h3,
.bar h4,
.bar h5{
	font-size:1em;
	font-weight:bold;
	margin:13px -5px 3px -5px;
	padding:0px 5px;
}
.bar div.jumpmenu{
	display:none;
}
.bar ul{
}
.bar li{
	list-style-type:none;
}
.bar ul.list1 li{
	margin-left:-32px;
}
.bar ul.list2 li{
	margin-left:-25px;
}
.bar ul.list3 li{
	margin-left:-25px;
}
.bar img{
	margin:0px auto;
	padding:0px;
}

/* RightBar
----------------------------------------------------------------------------- */
#page_action{
	margin:7px 0px;
}

#right_bar div{
	background-color:white;
}
/* Footer
----------------------------------------------------------------------------- */
#footer{
	clear:both;
}
#footer a{
	text-decoration:none;
}
#copyright{
	text-align:center;
}

/* Popup Toc
----------------------------------------------------------------------------- */
#poptoc {
	border:gray thin outset;
	background-color:lightyellow;
	max-width:25em;
	min-width:18em;
	opacity:0.9;
	overflow:visible;
	padding:0.5em;
	position:absolute;
	text-align:left;
	text-shadow: white 1px 1px 0px;
	width:22em;
	z-index:1;
}

.ie6 #poptoc, .ie7 #poptoc, .ie8 #poptoc {
	filter:
		progid:DXImageTransform.Microsoft.Alpha(opacity=90)
		progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=ivory,EndColorStr=lemonchiffon) !important;
}

.webkit #poptoc{
	background: -webkit-gradient(linear, left top, left bottom, from(ivory), to(lemonchiffon));
}

.gecko #poptoc{
	-moz-opacity:0.9;
	background: -moz-linear-gradient(top, ivory, lemonchiffon);
}

.presto #poptoc{
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMCI%2BDQo8ZGVmcz4NCjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwIiB5MT0iMCIgeDI9IjAiIHkyPSIxMDAlIj4NCjxzdG9wIG9mZnNldD0iMCUiIHN0eWxlPSJzdG9wLWNvbG9yOml2b3J5OyIvPg0KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpsaWdodHllbGxvdzsiLz4NCjwvbGluZWFyR3JhZGllbnQ%2BDQo8L2RlZnM%2BDQo8cmVjdCB4PSIwIiB5PSIwIiBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgLz4NCjwvc3ZnPg0K');
}
.ie9 #poptoc {
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=ivory,EndColorStr=lemonchiffon)" !important;
}

#poptoc a{
	color:blue !important;
	cursor:pointer; 
}
#poptoc a:hover{
	text-shadow: none;
	background-color:#ccc;
}
#poptoc h1{
	color:navy;
	background-color:honeydew;
	font-size:small;
	font-weight:normal;
	padding:0.3em;
	margin:0;
	text-align:center;
	border:silver solid 1px;
	display:block;
}
#poptoc h1 a{color:navy; text-decoration:none;}
#poptoc h1 img {margin-bottom:-3px; margin-right: 2px;}
#poptoc .nav {text-indent:0em;border-top:1px gray solid; padding-top:0.2em;text-align:center; white-space: nowrap; }
#poptoc a.here{color: black; background: #EEEEEE; text-decoration: none; border:1px dotted gray;}

.tocpic {
	display:inline;
	cursor:pointer;
}

.hrefp, .topic {
	vertical-align:text-bottom;
}