/* ==|== Tweek Tags ========================================================= */
/* Fix Gecko Ruby Tag */
.gecko ruby {
	display: inline-table !important;
	text-align: center !important;
	white-space: nowrap !important;
	text-indent: 0 !important;
	margin: 0 !important;
	vertical-align: text-bottom !important;
	line-height: 1 !important;
}
.gecko ruby>rb, .gecko ruby>rbc {
	display: table-row-group !important;
	line-height: 1 !important;
}
.gecko ruby>rt, .gecko ruby>rbc+rtc {
	display: table-header-group !important;
	font-size: 50% !important;
	line-height: 1 !important;
	letter-spacing: 0 !important;
}
.gecko ruby>rbc+rtc+rtc {
	display: table-footer-group !important;
	font-size: 50% !important;
	line-height: 1 !important;
	letter-spacing: 0 !important;
}
.gecko rbc>rb, .gecko rtc>rt {
	display: table-cell !important;
	letter-spacing: 0 !important;
}
.gecko rp {
	display: none !important;
}