/*!
 * PukiWiki Plus! skin for PukiWiki Advance
 * Original version written by miko and upk.
 * Adv version by Logue.
 *
 * $Id: red.scss, v2.0.0 2015/12/05 22:14:00 Logue Exp $
 */

@charset "UTF-8";
@namespace url(http://www.w3.org/1999/xhtml);

@import 'plus';

::-moz-selection{
	background: FireBrick;
	color:#fff;
	text-shadow: none;
}
::selection {
	background:FireBrick;
	color:#fff;
	text-shadow: none;
}

a:not(.btn):not([role="presentation"]){
	color:#215dc6;
	-webkit-tap-highlight-color: #FF5E99;
}

a:not(.btn):not([role="presentation"]):active{
	color:#215dc6;
	background-color:#CCDDEE;
}

a:not(.btn):not([role="presentation"]):visited{
	color:#a63d21;
}

a:not(.btn):not([role="presentation"]):hover{
	color:#215dc6;
	background-color:#EECCDD;
}

#hgroup h1{
	color:#cc0000;
}

h1, h2{
	border-color:#ffffff #ffffff #999999 #ff1177;
}

h3{
	border-color:#ffffff #ffffff #999999 IndianRed;
}

h4, h5, h6{
	border-color:#fff8f8 #fff8f8 #999999 #ff66cc;
}

dt{
	color: #663333;
}

pre{
	border-top:#EEDDDD 1px solid;
	border-bottom:#998888 1px solid;
	border-left:#EEDDDD 1px solid;
	border-right:#998888 1px solid;
	background-color:#FFF8F0;
	background-image: -ms-linear-gradient(top, #FFF8F0, #fff3e5);
	background-image: -moz-linear-gradient(top, #FFF8F0, #fff3e5);
	background-image: -webkit-linear-gradient(top, #FFF8F0, #fff3e5);
}

blockquote{
	border: 1px solid #FF99CC;
	box-shadow: 0 1px 6px #ffcce5;
}

.table{
	background-color:#ddccd5;
}
.table th{
	background-color:#EEEEEE;
}
.table tr td.blank-cell{
	background-color:#F6E3EA;
}
.table tr:nth-child(even) td{
	background-color:#ffEFf5;
}
.table thead td,
.table tfoot td {
	background-color:#E0D0D8;
}
.table thead th,
.table tfoot th {
	background-color:#F0E0E8;
}

.noexists{
	color:inherit;
	background-color:#FFFACC;
}

.super_index
{
	color:#DD3333;
	background-color:inherit;
}

a.note_super
{
	color:#DD3333;
	background-color:inherit;
}

fieldset {
	border: 1px pink solid;
}

#preview{
	color:inherit;
	background-color:#F5F8FF;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: whitesmoke;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}


::-webkit-scrollbar-thumb {
	background: #FFDDF0;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

/* Layout */
#main_wrapper, #menubar, #sidebar{
	background-color: #FFEEFC;
}

/** MenuBar/SideBar *******************************************************************************/
#menubar h1, #menubar h2, #menubar h3, #menubar h4, #menubar h5, #menubar h6,
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6{
	border: 1px #FF99CC solid;
	background-color: #FFDDF0;
	text-shadow: 0 0 2px #ffb2db, 0px 2px 0 white;
	background-image: -ms-linear-gradient(top, #FFDDF0, #ffcce7);
	background-image: -moz-linear-gradient(top, #FFDDF0, #ffcce7);
	background-image: -webkit-linear-gradient(top, #FFDDF0, #ffcce7);
}

/* Plugin *****************************************************************************************/
/* calendar.inc.php */
.style_calendar {
	background-color:#DDD5CC !important;
}
.style_calendar_top {
	background-color:#FFF5EE !important;
}
.style_calendar_today {
	background-color:#FFFFDD !important;
}
.style_calendar_sat {
	background-color:#DDE5FF !important;
}
.style_calendar_sun, .style_calendar_holiday {
	background-color:#FFEEEE !important;
}
.style_calendar_blank {

}
.style_calendar_day {

}
.style_calendar_week {
	background-color:#EEE5DD;
}

.style_calendar tbody .style_td:hover{
	background-color: #FFFFDD !important;
}

/* suckerfish.inc.php */
.sf-menu {
	background-color: IndianRed;
	border-color: FireBrick;
}

.sf-menu ul{
	background-color: IndianRed;
	border-color: FireBrick;
}

.sf-menu li {
	border-color: IndianRed;
}

.sf-menu li:hover, .sf-menu li.sfHover{
	color: white !important;
	background-color: lightcoral;
	border-color: white;
}

.sf-menu li ul li:hover, .sf-menu li ul li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color: darkred !important;
	background-color: lightcoral;
}
