@charset "UTF-8";
/////////////////////////////////////////////////
// PukiWiki Plus! skin for PukiWiki Advance
// Original version written by miko and upk.
// Adv version by Logue.
//
// $Id: blue.css,v 1.0.5 2012/01/04 21:48:00 Logue Exp $
//

::-moz-selection{
	background: RoyalBlue;
	color:white;
	text-shadow: none;
}
::selection {
	background:RoyalBlue;
	color:white;
	text-shadow: none;
}

a{
	-webkit-tap-highlight-color: #5E99FF;
}

a:active{
	color:#215dc6 !important;
}

a:visited{
	color:#a63d21 !important;
}

a:hover{
	color:#215dc6 !important;
	background-color:#CCDDEE;
}

#hgroup h1{
	color:#0000cc;
}

h1{
	border-left-color:MidnightBlue;
}
h2{
	border-left-color:Blue;
}
h2{
	border-left-color:RoyalBlue;
}
h3{
	border-left-color:CornflowerBlue;
}

h4, h5, h6{
	border-color:#f8f8ff #f8f8ff #999999 #66ccff;
}

dt{
	color: #333366;
}

pre{
	border-top:#DDDDEE 1px solid;
	border-bottom:#888899 1px solid;
	border-left:#DDDDEE 1px solid;
	border-right:#888899 1px solid;
	background-color:#f0f8ff;
	background-image: -ms-linear-gradient(top, #f0f8ff, #e5f3ff);
	background-image: -moz-linear-gradient(top, #f0f8ff, #e5f3ff);
	background-image: -webkit-linear-gradient(top, #f0f8ff, #e5f3ff);
}

blockquote{
	border: 1px solid #99CCFF;
	box-shadow: 0 1px 6px #cce5ff;
}

.table{
	background-color:#ccd5dd;
}
.table th{
	background-color:#EEEEEE;
}
.table tr td.blank-cell{
	background-color:#E3EAF6;
}
.table tr:nth-child(even) td{
	background-color:#EFf5ff;
}
.table thead td,
.table tfoot td {
	background-color:#D0D8E0;
}
.table thead th,
.table tfoot th {
	background-color:#E0E8F0;
}

.noexists{
	color:inherit;
	background-color:#FFFACC;
}

.super_index{
	color:#DD3333;
	background-color:inherit;
}

.note_super{
	color:#DD3333;
	background-color:inherit;
}

hr{
	border-color: slategray;
}

fieldset {
	border: 1px lightsteelblue solid;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: whitesmoke;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}


::-webkit-scrollbar-thumb {
	background: #DDF0FF;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

/* Layout */
#main_wrapper, #menubar, #sidebar{
	background-color:#effcff;
}

/** MenuBar/SideBar *******************************************************************************/

#menubar h1, #menubar h2, #menubar h3, #menubar h4, #menubar h5, #menubar h6,
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6{
	border: 1px #99CCFF solid;
	background-color: #DDF0FF;
	text-shadow: 0 0 2px #b2dbff, 0px 2px 0 white;
	background-image: -ms-linear-gradient(top, #DDF0FF, #cce7ff);
	background-image: -moz-linear-gradient(top, #DDF0FF, #cce7ff);
	background-image: -webkit-linear-gradient(top, #DDF0FF, #cce7ff);
}

/** Plugin ****************************************************************************************/
/* calendar.inc.php */
.style_calendar {
	background-color:#CCD5DD !important;
}
.style_calendar_top {
	background-color:#EEF5FF !important;
}
.style_calendar_today {
	background-color:#FFFFDD !important;
}
.style_calendar_sat {
	background-color:#DDE5FF !important;
}
.style_calendar_sun, .style_calendar_holiday {
	background-color:#FFEEEE !important;
}
.style_calendar_blank {

}
.style_calendar_day {

}
.style_calendar_week {
	background-color:#DDE5EE;
}

.style_calendar tbody .style_td:hover{
	background-color: #DDFFFF !important;
}

/* suckerfish.inc.php */
.sf-menu {
	background-color: CornflowerBlue;
	border-color: RoyalBlue;
}

.sf-menu ul{
	background-color: CornflowerBlue;
	border-color: RoyalBlue;
}

.sf-menu li {
	border-color: CornflowerBlue;
}

.sf-menu li:hover, .sf-menu li.sfHover{
	color: midnightblue !important;
	background-color: lightsteelblue;
}

.sf-menu li ul li:hover, .sf-menu li ul li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color: midnightblue !important;
	background-color: lightsteelblue;
}

