@charset "UTF-8";
/////////////////////////////////////////////////
// PukiWiki Plus! skin for PukiWiki Advance
// Original version written by miko and upk.
// Adv version by Logue.
// 
// $Id: blue.css,v 1.0.5 2012/01/04 21:48:00 Logue Exp $
//

::-moz-selection{
	background: RoyalBlue;
	color:white;
	text-shadow: none;
}
::selection {
	background:RoyalBlue;
	color:white;
	text-shadow: none;
}

a{
	-webkit-tap-highlight-color: #5E99FF;
}

a:active{
	color:#215dc6 !important;
}

a:visited{
	color:#a63d21 !important;
}

a:hover{
	color:#215dc6 !important;
	background-color:#CCDDEE;
}

#hgroup h1{
	color:#0000cc;
}

h1{
	border-left-color:MidnightBlue;
}
h2{
	border-left-color:Blue;
}
h2{
	border-left-color:RoyalBlue;
}
h3{
	border-left-color:CornflowerBlue;
}

h4, h5, h6{
	border-color:#f8f8ff #f8f8ff #999999 #66ccff;
}

dt{
	color: #333366;
}

pre{
	border-top:#DDDDEE 1px solid;
	border-bottom:#888899 1px solid;
	border-left:#DDDDEE 1px solid;
	border-right:#888899 1px solid;
	background-color:#F0F8FF;
}

blockquote{
	border: 1px solid #99CCFF;
}

thead td.style_td,
tfoot td.style_td{
	background-color:#D0D8E0;
}
thead th.style_th,
tfoot th.style_th{
	background-color:#E0E8F0;
}
.style_table{
	background-color:#ccd5dd;
}
.style_th{
	background-color:#EEEEEE;
}
.style_td{
	background-color:#EEF5FF;
}
.style_td_blank{
	background-color:#E3EAF6;
}

.noexists{
	color:inherit;
	background-color:#FFFACC;
}

.super_index{
	color:#DD3333;
	background-color:inherit;
}

.note_super{
	color:#DD3333;
	background-color:inherit;
}

hr{
	border-color: slategray;
}

fieldset {
	border: 1px lightsteelblue solid;
}

#preview{
	background-color:#F5F8FF;
}

/* Layout */
#main_wrapper, #menubar, #sidebar{
	background-color: #EEFCFF;
}

/** MenuBar/SideBar *******************************************************************************/
#menubar ul.menu li, #sidebar ul.menu li{
	border-bottom: 1px dotted #EEFCFF;
}

#menubar h1, #menubar h2, #menubar h3, #menubar h4, #menubar h5, #menubar h6,
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6{
	border: 1px #99CCFF solid;
	background-color: #DDF0FF;
}

/** Plugin ****************************************************************************************/
/* calendar.inc.php */
.style_calendar {
	background-color:#CCD5DD;
}
.style_calendar_top {
	background-color:#EEF5FF !important;
}
.style_calendar_today {
	background-color:#FFFFDD;
}
.style_calendar_sat {
	background-color:#DDE5FF;
}
.style_calendar_sun, .style_calendar_holiday {
	background-color:#FFEEEE;
}
.style_calendar_blank {

}
.style_calendar_day {
	
}
.style_calendar_week {
	background-color:#DDE5EE;
}

.style_calendar tbody .style_td:hover{
	background-color: #DDFFFF;
}

/* suckerfish.inc.php */
.sf-menu {
	background-color: CornflowerBlue;
	border-color: RoyalBlue;
}

.sf-menu ul{
	background-color: CornflowerBlue;
	border-color: RoyalBlue;
}

.sf-menu li {
	border-color: CornflowerBlue;
}

.sf-menu li:hover, .sf-menu li.sfHover{
	color: midnightblue !important;
	background-color: lightsteelblue;
}

.sf-menu li ul li:hover, .sf-menu li ul li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color: midnightblue !important;
	background-color: lightsteelblue;
}

