@charset "UTF-8";
/**
 * PukiWiki Plus! skin for PukiWiki Advance
 * Original version written by miko and upk.
 * Adv version by Logue.
 *
 * $Id: default.css,v 1.33.12 2012/01/09 14:59:00 Logue Exp $
 */

/** Generic Tags *********************************************************************************/
a:not(.btn){
	color:#215dc6;
	text-decoration:none;
	-ms-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
}

a:not(.btn):hover{
	text-decoration:underline;
}

p, pre, dl, blockquote, .table_wrapper{
	margin:.5em 1.5em;
}

blockquote{
	border: 1px solid gray;
	padding: .5em;
	box-shadow: 0 2px 6px gainsboro;
}

p{
	padding: .25em;
}

del{
	color:grey;
}

dt{
	font-weight:bold;
}

h1, h2, h3, h4, h5, h6{
	padding: .1em 0 .1em .3em;
	border-left:.4em solid;
	border-bottom:1px solid;
	background-image: -ms-linear-gradient(top, white, whitesmoke);
	background-image: -moz-linear-gradient(top, white, whitesmoke);
	background-image: -webkit-linear-gradient(top, white, whitesmoke);
	box-shadow: 0 1px 6px silver;
	text-shadow: 0 0 2px silver, 0px 2px 0 white;
	margin:0;
}

h1{
	border-color:white white black dimgray;
}

h2, h3{
	border-color:white white dimgray grey;
}

h4, h5{
	border-color:silver silver grey darkgray;
}

h6{
	border-color:silver silver darkgray silver;
}

pre{
	border-top:silver 1px solid;
	border-bottom:grey 1px solid;
	border-left:silver 1px solid;
	border-right:grey 1px solid;
	background-color: whitesmoke;
	padding:.5em 1em;
	text-shadow: 1px 1px 3px rgba(0,0,0,.25);
	box-shadow: 2px 2px 4px gainsboro;
}

q{
	border:1px dotted #999;
}

.table{
	box-shadow: 0 2px 5px gainsboro;
}

::-webkit-scrollbar {
	background: gainsboro;
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}


::-webkit-scrollbar-thumb {
	background:whitesmoke;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}
/** Layout ****************************************************************************************/
#container {
	width:100%;
	margin: 0 auto;
}

#main{
	background-color: white;
	padding:5px;
}

#misc {
	width:100%;
	clear:both;
}

#menubar, #sidebar{
	display:none;
}
@media screen{
	#body{
		padding: 0 5px;
	}
	.two-colums #main_wrapper {
		width:100%;
		float:right;
		margin-left:-180px;
	}

	.two-colums #main_wrapper #main {
		margin:0 0 0 180px;
	}

	.two-colums #menubar {
		display:block;
		width:180px;
		float:right;
	}

	.three-colums #wrapper {
		width:100%;
		float:left;
		margin-right:-180px;
	}

	.three-colums #main_wrapper {
		width:100%;
		float:right;
		margin-left:-180px;
	}

	.three-colums #main_wrapper #main {
		margin:0 180px;
	}

	.three-colums #menubar {
		display:block;
		width:180px;
		float:right;
	}

	.three-colums #sidebar {
		display:block;
		width:180px;
		float:left;
		right:0;
		position:absolute;
	}
}
/** Header and Footer *****************************************************************************/
#header{
	margin:1% 1% 0 1%;
}

#header .table,
#footer .table{
	background-color: transparent;
}

#header .table th, #header .table th,
#footer .table td, #footer .table th {
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

#footer{
	clear:both;
	font-size:77%;
	margin:0px 1% 1% 1%;
}

#logo{
	float:left;
	margin-right:20px;
}

/* hgroup */
#hgroup {
	padding: 12px 0 0 0;
	float:left;
}

#hgroup h1, #hgroup h2{
	background-color:transparent;
	background-image:none;
	box-shadow:none;
	text-shadow: 1px 1px 3px rgba(0,0,0,.25);
	border: none;
	margin: 0;
	padding: 0;
}
#hgroup h1 {
	font-weight:bold;
}

#hgroup h2 {
	font-weight:normal;
	font-size:85%;
}

#ad {
	float:right;
	margin:8px;
}

#lastmodified {
	clear:both;
	font-size:85%;
	float:right;
}

.navibar{
	clear:both;
	padding:2px;
}

#qr_code{
	display:block;
	float:left;
}

#banner_box{
	display:block;
	float:right;
	white-space:nowrap;
}

#sigunature{
	float:left;
	white-space:nowrap;
	line-height: 122%;
}

/** Main Content area *****************************************************************************/

#body h1{
	margin: 0;
}

#body h2{
	margin:.2em 0 .2em .2em;
}

#body h3{
	margin:.2em 0 .5em .4em;
}

#body h4, #body h5, #body h6{
	margin:.2em 0 .5em .6em;
}

#body form, #body figure{
	margin:.5em 1.5em;
}

#topicpath{
	padding:0 5px;
	font-size:96%;
}

#note{
	padding:0;
	font-size: 86%;
}

#main_warper{
	background-color:whitesmoke;
	background-image: -ms-linear-gradient(top, whitesmoke, #e6e6e6);
	background-image: -moz-linear-gradient(top, whitesmoke, #e6e6e6);
	background-image: -webkit-linear-gradient(top, whitesmoke, #e6e6e6);
}

/** MenuBar/SideBar*********************************************************************************/
#menubar, #sidebar{
	word-break: break-all;
	font-size: 93%;
	overflow: hidden;
}

#menubar ul{
	padding: 0 0.3em;
	margin: 0;
}

#sidebar ul{
	margin: 0 0 0 .5em;
	padding: 0 0 0 .5em;
}

#menubar ul li .noexists, #menubar ul li a,
#sidebar ul li .noexists, #sidebar ul li a {
	display: block;
	padding: 0 0.3em;
}

#menubar ul li .noexists a,
#sidebar ul li .noexists a{
	display:inline;
	background-color:transparent;
}

#menubar h1, #menubar h2, #menubar h3, #menubar h4, #menubar h5, #menubar h6,
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6{
	border: 1px gainsboro solid;
	background-color: gainsboro;
	background-image: -ms-linear-gradient(top, whitesmoke, gainsboro);
	background-image: -moz-linear-gradient(top, whitesmoke, gainsboro);
	background-image: -webkit-linear-gradient(top, whitesmoke, gainsboro);
	box-shadow:none;
	margin: 1px;
	padding: .2em;
	text-align:center;
}

#menubar h1, #menubar h2, #menubar h3,
#sidebar h1, #sidebar h2, #sidebar h3 {
	font-size:161.6%;
}

#menubar h4, #menubar h5, #menubar h6,
#sidebar h4, #sidebar h5, #sidebar h6{
	font-size:138.5%;
}

#menubar p, #menubar form,
#sidebar p, #sidebar form{
	margin: 0;
	padding: 0;
}

/* Hack calendar */
#menubar .style_calendar, #sidebar .style_calendar{
	width:150px;
	height:150px;
	padding:0;
	margin:1px;
}

#menubar .style_calendar td, #sidebar .style_calendar td,
#menubar .style_calendar th, #sidebar .style_calendar th{
	padding:1px;
	margin:1px;
}

/** Plugin ****************************************************************************************/

/* backup.inc.php */
.add_word, .add_block{
	background-color:#FFFF66;
}

.remove_word, .remove_block{
	background-color:#A0FFFF;
}

/* recent.inc.php,showrss.inc.php */
.recent_list{
	padding:0px 0px 0px .5em;
	margin:0px 0px 0px .5em;
	border:0px;
	word-wrap:break-word;
	word-break:break-all;
}
.recent_list li{
	line-height:110%;
}

/* tooltip.inc.php */
.tooltip, .linktip{
	color: #006565;
}

.tooltip:hover, .linktip:hover{
	background-color: #e1ffe4;
}

/* toolbar.inc.php */
.toolbar{
	display:block;
	clear:both;
	float:right;
	padding:0 1%;
}

/* suckerfish.inc.php */
.sf-menu {
	/* These settings are recommended to specify an absolute value. */
	font-size:13px !important;
	line-height:16px !important;
	height:23px;

	text-shadow:none;
	width: 100%;

	clear:both;
	white-space: nowrap;

	border: 1px dimgray solid;
	color: white;
	background-color: grey;
}

.sf-menu ul{
	width: 171px; /* left offset of submenus need to match (see below) */

	background-color: grey;
	border: 1px dimgray solid;
}

.sf-menu li {
	border: 1px grey solid;
}

.sf-menu ul li {
	width: 12em;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			-2px;
	top:			22px; /* match top ul list item height */
}

.sf-menu li li:hover ul,
.sf-menu li li.sfHover ul,
.sf-menu li li li:hover ul,
.sf-menu li li li.sfHover ul {
	left:			12em; /* match ul width */
}

.sf-menu li {
	padding: 2px 0.5em;
}

.sf-menu li ul li:hover, .sf-menu li ul li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	text-decoration: none;
}

/* Link color */
.sf-menu a, .sf-menu a:link {
	color: white !important;
	font-weight: bold;
	text-decoration: none;
}
.sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: white !important;
	text-decoration: none;
}

.sf-menu a:active  {
	text-decoration: none;
}

.sf-menu .noexists {
	background-color:transparent;
}

.sf-menu li:hover, .sf-menu li.sfHover{
	color: black !important;
	background-color: silver;
	border: 1px white solid;
}

.sf-menu li ul li:hover, .sf-menu li ul li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color: black !important;
	background-color: silver;
	text-decoration: none;
}
/** Print Setting *********************************************************************************/
@media print {
	#hgroup h2, #header img, #navigator, #menubar, #sidebar, #poptoc, #banner_box, #attach, #toolbar,
	#sigunature{
		display:none !important;
		visibility: hidden !important;
	}

	#hgroup{
		margin:0;
		padding:0;
		float:none;
		clear:both;
	}
	#hgroup h2{
		display:none;
	}
	#hgroup h1{
		width:100%;
	}

	#lastmodified{
		text-align:right;
	}

	address{
		float:left;
	}

	#body{
		float:clear;
		display:block;
		width:100%;
	}
}