@charset "UTF-8";

/*
180wiki skin black(width1000) 0.1 2008/4/11 hrmz
http://180xz.com/wiki/

Modified by Logue
*/

/* wrap
----------------------------------------------------------------------------- */
#wrapper {
	width: 1000px;
	text-align: left;
}

#wrap_content{
	float:left;
	width: 770px;
}

#wrap_sidebar{
	float:right;
	width: 230px;
}
#footer{
	clear:both;
}

/* ■■ design ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* General
----------------------------------------------------------------------------- */
#wrapper {
	margin: 5px auto;
	border-radius: 20px;
	box-shadow:0 0 10px #555;
	-moz-box-shadow:0 0 10px #555;
	-webkit-box-shadow:0 0 10px #555;
}

/* ----- link ----- */
a:not(.btn):not([role="presentation"]) {
	color: #003366;
	text-decoration: none;
}
a:not(.btn):not([role="presentation"]):visited {
	color: #003366;
	text-decoration: none;
}
a:not(.btn):not([role="presentation"]):active {
	color: #999999;
	text-decoration: underline;
}
a:not(.btn):not([role="presentation"]):hover {
	color: #FF33CC;
	text-decoration: underline;
}
/* Header
----------------------------------------------------------------------------- */
#header{
	background-color: #333;
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMCI%2BDQo8ZGVmcz4NCjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwIiB5MT0iMCIgeDI9IjAiIHkyPSIxMDAlIj4NCjxzdG9wIG9mZnNldD0iMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiNBQUE7Ii8%2BDQo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiMxMTE7Ii8%2BDQo8L2xpbmVhckdyYWRpZW50Pg0KPC9kZWZzPg0KPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0idXJsKCNncmFkaWVudCkiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIC8%2BDQo8L3N2Zz4%3D');
	border-radius: 20px;
	box-shadow:0 5px 10px #222;
	-moz-box-shadow:0 5px 10px #222;
	-webkit-box-shadow:0 5px 10px #222;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	height: 130px;
	left:10px;
	margin:0 0 20px;
	position: relative; 
	text-align: left;
	text-shadow: gray 1px 2px 1px;
	top:10px;
	width: 980px;
}

#header a,
#header a:link,
#header a:visited,
#header a:active,
#header a:hover {
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

#logo{
	padding: 50px 35px 0 65px;
}


/* Content
----------------------------------------------------------------------------- */
#toolbar {
	margin-left: 15px;
}

#content {
	margin-left: 15px;
}

#content h1.title{
	margin:  0;
	padding: 0;
	background-image: none;
}
#content .title a{
	font-size:25px;
	color: #333333;
	text-decoration:none;
}

#lastmodified{
	color:#666666;
}

#body{
	margin-top:10px;
}

h1, h2 {
	font-size:16px;
	font-weight: bold;
	padding:4px 0 4px 32px;
	color: #333333;
	text-shadow: gainsboro 1px 2px 1px;
	background-image: url(180mt-black-w1000-title.gif);
	background-position: left center;
	background-repeat: no-repeat;
}
h3 {
	font-size:14px;
	border-bottom:  3px solid #CCCCCC;
	border-top:     1px solid #CCCCCC;
	border-left:   10px solid #CCCCCC;
	border-right:   3px solid #CCCCCC;
	margin:0 20px 0 15px;
	padding:2px 0 2px 10px;
}
h4 {
	font-size:13px;
	border-left:   8px solid #CCCCCC;
	margin:0 20px 0 15px;
	padding:1px 0 1px 10px;
}
h5, h6 {
	padding-left:10px;
}

p{
	margin:5px 20px;
}

.table {
	background-color:#DDDDDD;
}
.table th {
	background-color:#EEEEEE;
}
.table td {
	background-color:#EEEEEE
}

.table thead td,
.table tfoot td {
	background-color:#D0D8E0;
}
.table thead th,
.table tfoot th {
	background-color:#E0E8F0;
}

pre{
	border-top:    1px solid #DDDDDD;
	border-right:  2px solid #DDDDDD;
	border-bottom: 2px solid #DDDDDD;
	border-left:   1px solid #DDDDDD;
	margin:5px 20px;
	padding:.5em;
	word-wrap:break-word;
	overflow:auto;
}

blockquote {
	margin:5px 20px;
	padding:5px;
	background-color:#EEEEEE;
	border:1px solid #DDDDDD;
}

ul {
	margin-top:5px;
	margin-bottom:5px;
}

ul.list1 { list-style-type:disc; }
ul.list2 { list-style-type:circle; }
ul.list3 { list-style-type:square; }
ol.list1 { list-style-type:decimal; }
ol.list2 { list-style-type:lower-roman; }
ol.list3 { list-style-type:lower-alpha; }

dt {
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;
}
dd {
	margin: 5px 20px 5px 25px;
}

.full_hr {
	border-style:ridge;
	border-color:#999999;
	border-width:1px 0;
}
.note_hr {
	width:90%;
	border-style:ridge;
	border-color:#999999;
	border-width:1px 0;
}
p, pre, dl, form, .table_wrapper{
	margin:.5em 1.5em;
}
/* SideBar
----------------------------------------------------------------------------- */
#menubar {
	margin:15px 15px 15px 5px;
	padding:0;
	font-size: 12px;
	word-break:break-all;
	overflow:hidden;
}

#menubar h2{
	padding:5px 10px 8px 15px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: gray 1px 2px 1px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMCI%2BDQo8ZGVmcz4NCjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwIiB5MT0iMCIgeDI9IjAiIHkyPSIxMDAlIj4NCjxzdG9wIG9mZnNldD0iMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiM3Nzc7Ii8%2BDQo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiMxMTE7Ii8%2BDQo8L2xpbmVhckdyYWRpZW50Pg0KPC9kZWZzPg0KPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0idXJsKCNncmFkaWVudCkiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIC8%2BDQo8L3N2Zz4%3D);
	border-radius: 8px;
	-moz-box-shadow:0 1px 3px #444;
}
#menubar h3,
#menubar h4,
#menubar h5,
#menubar h6 {
	font-weight: bold;
	padding:0;
}

#menubar ul {
	padding-left: 15px;
	margin-left: 5px;
	list-style-image: url(180mt-arrow.gif);
}

/* Footer
----------------------------------------------------------------------------- */
#footer{
	font-size:13px;
	text-align:center;
	color: #666666;
	padding-bottom: 10px;
}
/* -------------------------------------------------------------------------- */

/* pukiwiki.skin.php */
#navigator {
	clear:both;
	padding:4px 0 0 0;
	margin:0;
}

#note {
	clear:both;
	padding:0;
	margin:0;
}

#attach {
	clear:both;
	padding:0px;
	margin:0px;
}

#related {
	font-size:80%;
	padding:0;
	margin:16px 0 0 0;
}

#banner {
	float:right;
	margin-top:24px;
}

#preview {
	color:inherit;
	background-color:#F5F8FF;
}

/* popular.inc.php */
.counter { font-size:70%; }

/* ref.inc.php */
.img_margin {
	margin-left:32px;
	margin-right:32px;
}

/* search.inc.php id付必要 */
.search_form {
	margin:0 15px;
}