.flags { background: url(flags.png) no-repeat top left; }
.flag-ad{ background-position: 0 0; width: 16px; height: 11px; }
.flag-ae{ background-position: 0 -12px; width: 16px; height: 11px; }
.flag-af{ background-position: 0 -24px; width: 16px; height: 11px; }
.flag-ag{ background-position: 0 -36px; width: 16px; height: 11px; }
.flag-ai{ background-position: 0 -48px; width: 16px; height: 11px; }
.flag-al{ background-position: 0 -60px; width: 16px; height: 11px; }
.flag-am{ background-position: 0 -72px; width: 16px; height: 11px; }
.flag-an{ background-position: 0 -84px; width: 16px; height: 11px; }
.flag-ao{ background-position: 0 -96px; width: 16px; height: 11px; }
.flag-ar{ background-position: 0 -108px; width: 16px; height: 11px; }
.flag-as{ background-position: 0 -120px; width: 16px; height: 11px; }
.flag-at{ background-position: 0 -132px; width: 16px; height: 11px; }
.flag-au{ background-position: 0 -144px; width: 16px; height: 11px; }
.flag-aw{ background-position: 0 -156px; width: 16px; height: 11px; }
.flag-ax{ background-position: 0 -168px; width: 16px; height: 11px; }
.flag-az{ background-position: 0 -180px; width: 16px; height: 11px; }
.flag-ba{ background-position: 0 -192px; width: 16px; height: 11px; }
.flag-bb{ background-position: 0 -204px; width: 16px; height: 11px; }
.flag-bd{ background-position: 0 -216px; width: 16px; height: 11px; }
.flag-be{ background-position: 0 -228px; width: 16px; height: 11px; }
.flag-bf{ background-position: 0 -240px; width: 16px; height: 11px; }
.flag-bg{ background-position: 0 -252px; width: 16px; height: 11px; }
.flag-bh{ background-position: 0 -264px; width: 16px; height: 11px; }
.flag-bi{ background-position: 0 -276px; width: 16px; height: 11px; }
.flag-bj{ background-position: 0 -288px; width: 16px; height: 11px; }
.flag-bm{ background-position: 0 -300px; width: 16px; height: 11px; }
.flag-bn{ background-position: 0 -312px; width: 16px; height: 11px; }
.flag-bo{ background-position: 0 -324px; width: 16px; height: 11px; }
.flag-br{ background-position: 0 -336px; width: 16px; height: 11px; }
.flag-bs{ background-position: 0 -348px; width: 16px; height: 11px; }
.flag-bt{ background-position: 0 -360px; width: 16px; height: 11px; }
.flag-bv{ background-position: 0 -372px; width: 16px; height: 11px; }
.flag-bw{ background-position: 0 -384px; width: 16px; height: 11px; }
.flag-by{ background-position: 0 -396px; width: 16px; height: 11px; }
.flag-bz{ background-position: 0 -408px; width: 16px; height: 11px; }
.flag-ca{ background-position: 0 -420px; width: 16px; height: 11px; }
.flag-cc{ background-position: 0 -432px; width: 16px; height: 11px; }
.flag-cd{ background-position: 0 -444px; width: 16px; height: 11px; }
.flag-cf{ background-position: 0 -456px; width: 16px; height: 11px; }
.flag-cg{ background-position: 0 -468px; width: 16px; height: 11px; }
.flag-ch{ background-position: 0 -480px; width: 16px; height: 11px; }
.flag-ci{ background-position: 0 -492px; width: 16px; height: 11px; }
.flag-ck{ background-position: 0 -504px; width: 16px; height: 11px; }
.flag-cl{ background-position: 0 -516px; width: 16px; height: 11px; }
.flag-cm{ background-position: 0 -528px; width: 16px; height: 11px; }
.flag-cn{ background-position: 0 -540px; width: 16px; height: 11px; }
.flag-co{ background-position: 0 -552px; width: 16px; height: 11px; }
.flag-cr{ background-position: 0 -564px; width: 16px; height: 11px; }
.flag-cs{ background-position: 0 -576px; width: 16px; height: 11px; }
.flag-cu{ background-position: 0 -588px; width: 16px; height: 11px; }
.flag-cv{ background-position: 0 -600px; width: 16px; height: 11px; }
.flag-cx{ background-position: 0 -612px; width: 16px; height: 11px; }
.flag-cy{ background-position: 0 -624px; width: 16px; height: 11px; }
.flag-cz{ background-position: 0 -636px; width: 16px; height: 11px; }
.flag-de{ background-position: 0 -648px; width: 16px; height: 11px; }
.flag-dj{ background-position: 0 -660px; width: 16px; height: 11px; }
.flag-dk{ background-position: 0 -672px; width: 16px; height: 11px; }
.flag-dm{ background-position: 0 -684px; width: 16px; height: 11px; }
.flag-do{ background-position: 0 -696px; width: 16px; height: 11px; }
.flag-dz{ background-position: 0 -708px; width: 16px; height: 11px; }
.flag-ec{ background-position: 0 -720px; width: 16px; height: 11px; }
.flag-ee{ background-position: 0 -732px; width: 16px; height: 11px; }
.flag-eg{ background-position: 0 -744px; width: 16px; height: 11px; }
.flag-eh{ background-position: 0 -756px; width: 16px; height: 11px; }
.flag-er{ background-position: 0 -768px; width: 16px; height: 11px; }
.flag-es{ background-position: 0 -780px; width: 16px; height: 11px; }
.flag-et{ background-position: 0 -792px; width: 16px; height: 11px; }
.flag-eu{ background-position: 0 -804px; width: 16px; height: 11px; }
.flag-fam{ background-position: 0 -816px; width: 16px; height: 11px; }
.flag-fi{ background-position: 0 -828px; width: 16px; height: 11px; }
.flag-fj{ background-position: 0 -840px; width: 16px; height: 11px; }
.flag-fk{ background-position: 0 -852px; width: 16px; height: 11px; }
.flag-fm{ background-position: 0 -864px; width: 16px; height: 11px; }
.flag-fo{ background-position: 0 -876px; width: 16px; height: 11px; }
.flag-fr{ background-position: 0 -888px; width: 16px; height: 11px; }
.flag-ga{ background-position: 0 -900px; width: 16px; height: 11px; }
.flag-gb{ background-position: 0 -912px; width: 16px; height: 11px; }
.flag-gd{ background-position: 0 -924px; width: 16px; height: 11px; }
.flag-ge{ background-position: 0 -936px; width: 16px; height: 11px; }
.flag-gf{ background-position: 0 -948px; width: 16px; height: 11px; }
.flag-gh{ background-position: 0 -960px; width: 16px; height: 11px; }
.flag-gi{ background-position: 0 -972px; width: 16px; height: 11px; }
.flag-gl{ background-position: 0 -984px; width: 16px; height: 11px; }
.flag-gm{ background-position: 0 -996px; width: 16px; height: 11px; }
.flag-gn{ background-position: 0 -1008px; width: 16px; height: 11px; }
.flag-gp{ background-position: 0 -1020px; width: 16px; height: 11px; }
.flag-gq{ background-position: 0 -1032px; width: 16px; height: 11px; }
.flag-gr{ background-position: 0 -1044px; width: 16px; height: 11px; }
.flag-gs{ background-position: 0 -1056px; width: 16px; height: 11px; }
.flag-gt{ background-position: 0 -1068px; width: 16px; height: 11px; }
.flag-gu{ background-position: 0 -1080px; width: 16px; height: 11px; }
.flag-gw{ background-position: 0 -1092px; width: 16px; height: 11px; }
.flag-gy{ background-position: 0 -1104px; width: 16px; height: 11px; }
.flag-hk{ background-position: 0 -1116px; width: 16px; height: 11px; }
.flag-hm{ background-position: 0 -1128px; width: 16px; height: 11px; }
.flag-hn{ background-position: 0 -1140px; width: 16px; height: 11px; }
.flag-hr{ background-position: 0 -1152px; width: 16px; height: 11px; }
.flag-ht{ background-position: 0 -1164px; width: 16px; height: 11px; }
.flag-hu{ background-position: 0 -1176px; width: 16px; height: 11px; }
.flag-id{ background-position: 0 -1188px; width: 16px; height: 11px; }
.flag-ie{ background-position: 0 -1200px; width: 16px; height: 11px; }
.flag-il{ background-position: 0 -1212px; width: 16px; height: 11px; }
.flag-in{ background-position: 0 -1224px; width: 16px; height: 11px; }
.flag-io{ background-position: 0 -1236px; width: 16px; height: 11px; }
.flag-iq{ background-position: 0 -1248px; width: 16px; height: 11px; }
.flag-ir{ background-position: 0 -1260px; width: 16px; height: 11px; }
.flag-is{ background-position: 0 -1272px; width: 16px; height: 11px; }
.flag-it{ background-position: 0 -1284px; width: 16px; height: 11px; }
.flag-jm{ background-position: 0 -1296px; width: 16px; height: 11px; }
.flag-jo{ background-position: 0 -1308px; width: 16px; height: 11px; }
.flag-jp{ background-position: 0 -1320px; width: 16px; height: 11px; }
.flag-ke{ background-position: 0 -1332px; width: 16px; height: 11px; }
.flag-kg{ background-position: 0 -1344px; width: 16px; height: 11px; }
.flag-kh{ background-position: 0 -1356px; width: 16px; height: 11px; }
.flag-ki{ background-position: 0 -1368px; width: 16px; height: 11px; }
.flag-km{ background-position: 0 -1380px; width: 16px; height: 11px; }
.flag-kn{ background-position: 0 -1392px; width: 16px; height: 11px; }
.flag-kp{ background-position: 0 -1404px; width: 16px; height: 11px; }
.flag-kr{ background-position: 0 -1416px; width: 16px; height: 11px; }
.flag-kw{ background-position: 0 -1428px; width: 16px; height: 11px; }
.flag-ky{ background-position: 0 -1440px; width: 16px; height: 11px; }
.flag-kz{ background-position: 0 -1452px; width: 16px; height: 11px; }
.flag-la{ background-position: 0 -1464px; width: 16px; height: 11px; }
.flag-lb{ background-position: 0 -1476px; width: 16px; height: 11px; }
.flag-lc{ background-position: 0 -1488px; width: 16px; height: 11px; }
.flag-li{ background-position: 0 -1500px; width: 16px; height: 11px; }
.flag-lk{ background-position: 0 -1512px; width: 16px; height: 11px; }
.flag-lr{ background-position: 0 -1524px; width: 16px; height: 11px; }
.flag-ls{ background-position: 0 -1536px; width: 16px; height: 11px; }
.flag-lt{ background-position: 0 -1548px; width: 16px; height: 11px; }
.flag-lu{ background-position: 0 -1560px; width: 16px; height: 11px; }
.flag-lv{ background-position: 0 -1572px; width: 16px; height: 11px; }
.flag-ly{ background-position: 0 -1584px; width: 16px; height: 11px; }
.flag-ma{ background-position: 0 -1596px; width: 16px; height: 11px; }
.flag-mc{ background-position: 0 -1608px; width: 16px; height: 11px; }
.flag-md{ background-position: 0 -1620px; width: 16px; height: 11px; }
.flag-me{ background-position: 0 -1632px; width: 16px; height: 12px; }
.flag-mg{ background-position: 0 -1645px; width: 16px; height: 11px; }
.flag-mh{ background-position: 0 -1657px; width: 16px; height: 11px; }
.flag-mk{ background-position: 0 -1669px; width: 16px; height: 11px; }
.flag-ml{ background-position: 0 -1681px; width: 16px; height: 11px; }
.flag-mm{ background-position: 0 -1693px; width: 16px; height: 11px; }
.flag-mn{ background-position: 0 -1705px; width: 16px; height: 11px; }
.flag-mo{ background-position: 0 -1717px; width: 16px; height: 11px; }
.flag-mp{ background-position: 0 -1729px; width: 16px; height: 11px; }
.flag-mq{ background-position: 0 -1741px; width: 16px; height: 11px; }
.flag-mr{ background-position: 0 -1753px; width: 16px; height: 11px; }
.flag-ms{ background-position: 0 -1765px; width: 16px; height: 11px; }
.flag-mt{ background-position: 0 -1777px; width: 16px; height: 11px; }
.flag-mu{ background-position: 0 -1789px; width: 16px; height: 11px; }
.flag-mv{ background-position: 0 -1801px; width: 16px; height: 11px; }
.flag-mw{ background-position: 0 -1813px; width: 16px; height: 11px; }
.flag-mx{ background-position: 0 -1825px; width: 16px; height: 11px; }
.flag-my{ background-position: 0 -1837px; width: 16px; height: 11px; }
.flag-mz{ background-position: 0 -1849px; width: 16px; height: 11px; }
.flag-na{ background-position: 0 -1861px; width: 16px; height: 11px; }
.flag-nc{ background-position: 0 -1873px; width: 16px; height: 11px; }
.flag-ne{ background-position: 0 -1885px; width: 16px; height: 11px; }
.flag-nf{ background-position: 0 -1897px; width: 16px; height: 11px; }
.flag-ng{ background-position: 0 -1909px; width: 16px; height: 11px; }
.flag-ni{ background-position: 0 -1921px; width: 16px; height: 11px; }
.flag-nl{ background-position: 0 -1933px; width: 16px; height: 11px; }
.flag-no{ background-position: 0 -1945px; width: 16px; height: 11px; }
.flag-np{ background-position: 0 -1957px; width: 16px; height: 11px; }
.flag-nr{ background-position: 0 -1969px; width: 16px; height: 11px; }
.flag-nu{ background-position: 0 -1981px; width: 16px; height: 11px; }
.flag-nz{ background-position: 0 -1993px; width: 16px; height: 11px; }
.flag-om{ background-position: -17px 0; width: 16px; height: 11px; }
.flag-pa{ background-position: -17px -12px; width: 16px; height: 11px; }
.flag-pe{ background-position: -17px -24px; width: 16px; height: 11px; }
.flag-pf{ background-position: -17px -36px; width: 16px; height: 11px; }
.flag-pg{ background-position: -17px -48px; width: 16px; height: 11px; }
.flag-ph{ background-position: -17px -60px; width: 16px; height: 11px; }
.flag-pk{ background-position: -17px -72px; width: 16px; height: 11px; }
.flag-pl{ background-position: -17px -84px; width: 16px; height: 11px; }
.flag-pm{ background-position: -17px -96px; width: 16px; height: 11px; }
.flag-pn{ background-position: -17px -108px; width: 16px; height: 11px; }
.flag-pr{ background-position: -17px -120px; width: 16px; height: 11px; }
.flag-ps{ background-position: -17px -132px; width: 16px; height: 11px; }
.flag-pt{ background-position: -17px -144px; width: 16px; height: 11px; }
.flag-pw{ background-position: -17px -156px; width: 16px; height: 11px; }
.flag-py{ background-position: -17px -168px; width: 16px; height: 11px; }
.flag-qa{ background-position: -17px -180px; width: 16px; height: 11px; }
.flag-re{ background-position: -17px -192px; width: 16px; height: 11px; }
.flag-ro{ background-position: -17px -204px; width: 16px; height: 11px; }
.flag-rs{ background-position: -17px -216px; width: 16px; height: 11px; }
.flag-ru{ background-position: -17px -228px; width: 16px; height: 11px; }
.flag-rw{ background-position: -17px -240px; width: 16px; height: 11px; }
.flag-sa{ background-position: -17px -252px; width: 16px; height: 11px; }
.flag-sb{ background-position: -17px -264px; width: 16px; height: 11px; }
.flag-sc{ background-position: -17px -276px; width: 16px; height: 11px; }
.flag-sd{ background-position: -17px -288px; width: 16px; height: 11px; }
.flag-se{ background-position: -17px -300px; width: 16px; height: 11px; }
.flag-sg{ background-position: -17px -312px; width: 16px; height: 11px; }
.flag-sh{ background-position: -17px -324px; width: 16px; height: 11px; }
.flag-si{ background-position: -17px -336px; width: 16px; height: 11px; }
.flag-sj{ background-position: -17px -348px; width: 16px; height: 11px; }
.flag-sk{ background-position: -17px -360px; width: 16px; height: 11px; }
.flag-sl{ background-position: -17px -372px; width: 16px; height: 11px; }
.flag-sm{ background-position: -17px -384px; width: 16px; height: 11px; }
.flag-sn{ background-position: -17px -396px; width: 16px; height: 11px; }
.flag-so{ background-position: -17px -408px; width: 16px; height: 11px; }
.flag-sr{ background-position: -17px -420px; width: 16px; height: 11px; }
.flag-st{ background-position: -17px -432px; width: 16px; height: 11px; }
.flag-sv{ background-position: -17px -444px; width: 16px; height: 11px; }
.flag-sy{ background-position: -17px -456px; width: 16px; height: 11px; }
.flag-sz{ background-position: -17px -468px; width: 16px; height: 11px; }
.flag-tc{ background-position: -17px -480px; width: 16px; height: 11px; }
.flag-td{ background-position: -17px -492px; width: 16px; height: 11px; }
.flag-tf{ background-position: -17px -504px; width: 16px; height: 11px; }
.flag-tg{ background-position: -17px -516px; width: 16px; height: 11px; }
.flag-th{ background-position: -17px -528px; width: 16px; height: 11px; }
.flag-tj{ background-position: -17px -540px; width: 16px; height: 11px; }
.flag-tk{ background-position: -17px -552px; width: 16px; height: 11px; }
.flag-tl{ background-position: -17px -564px; width: 16px; height: 11px; }
.flag-tm{ background-position: -17px -576px; width: 16px; height: 11px; }
.flag-tn{ background-position: -17px -588px; width: 16px; height: 11px; }
.flag-to{ background-position: -17px -600px; width: 16px; height: 11px; }
.flag-tr{ background-position: -17px -612px; width: 16px; height: 11px; }
.flag-tt{ background-position: -17px -624px; width: 16px; height: 11px; }
.flag-tv{ background-position: -17px -636px; width: 16px; height: 11px; }
.flag-tw{ background-position: -17px -648px; width: 16px; height: 11px; }
.flag-tz{ background-position: -17px -660px; width: 16px; height: 11px; }
.flag-ua{ background-position: -17px -672px; width: 16px; height: 11px; }
.flag-ug{ background-position: -17px -684px; width: 16px; height: 11px; }
.flag-um{ background-position: -17px -696px; width: 16px; height: 11px; }
.flag-us{ background-position: -17px -708px; width: 16px; height: 11px; }
.flag-uy{ background-position: -17px -720px; width: 16px; height: 11px; }
.flag-uz{ background-position: -17px -732px; width: 16px; height: 11px; }
.flag-va{ background-position: -17px -744px; width: 16px; height: 11px; }
.flag-vc{ background-position: -17px -756px; width: 16px; height: 11px; }
.flag-ve{ background-position: -17px -768px; width: 16px; height: 11px; }
.flag-vg{ background-position: -17px -780px; width: 16px; height: 11px; }
.flag-vi{ background-position: -17px -792px; width: 16px; height: 11px; }
.flag-vn{ background-position: -17px -804px; width: 16px; height: 11px; }
.flag-vu{ background-position: -17px -816px; width: 16px; height: 11px; }
.flag-wf{ background-position: -17px -828px; width: 16px; height: 11px; }
.flag-ws{ background-position: -17px -840px; width: 16px; height: 11px; }
.flag-ye{ background-position: -17px -852px; width: 16px; height: 11px; }
.flag-yt{ background-position: -17px -864px; width: 16px; height: 11px; }
.flag-za{ background-position: -17px -876px; width: 16px; height: 11px; }
.flag-zm{ background-position: -17px -888px; width: 16px; height: 11px; }
.flag-zw{ background-position: -17px -900px; width: 16px; height: 11px; }
